{{!-- Bootstrap layout for signed-in user --}}

{{#side-menu width="85%" class="disable-user-select"}}
  {{main-menu
    appModel=appModel
    currentItemId=currentTabId
    itemClicked="mobileMenuItemChanged"
  }}
{{/side-menu}}
{{content-backdrop}}

{{#perfect-scrollbar-element tagName="div" id="main-menu-container"
  class="col-in-app-layout col-main-menu hidden-xs hidden-sm full-height disable-user-select"
  click=(action "closeSidenav" bubbles=true)
}}
  <div class="row row-onedata-logo full-width">
    <div class="onedata-logo"></div>
  </div>
  <div class="row row-main-menu full-width">
    {{main-menu
      appModel=appModel
      sidenavItemId=sidenavTabId
      currentItemId=currentTabId
      itemClicked="mainMenuItemClicked"
    }}
  </div>
{{/perfect-scrollbar-element}}

<div class="container-fluid app-grid full-height">
  <div class="row row-mobile-menu visible-xs-block visible-sm-block disable-user-select">
    <div class="pull-left">
      {{#side-menu-toggle}}
        <button type="button" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {{/side-menu-toggle}}
    </div>
    <div class="pull-left">
      <div class="tab-name" {{action "showMobileSidebar"}}>
        {{currentTabId}}
      </div>
    </div>
  </div>
  <div class="row row-app full-height">
    {{#one-sidenav open=sidenavSidebarOpen id="sidenav-sidebar"
      coverSelector="#col-sidebar" model=sidenavModel.content
      closed=(action "sidenavClosed")
    }}
      {{#if sidenavModel.isFulfilled}}
        {{component sidenavContentComponent model=sidenavModel.content}}
      {{else if sidenavModel.isPending}}
        TODO Loading...
      {{else if sidenavModel.isRejected}}
        TODO Rejected!
      {{/if}}
    {{/one-sidenav}}
        
    {{content-backdrop class="sidenav-backdrop"
      progress=(if sidenavSidebarOpen 100 0)
      click=(action "closeSidenav" bubbles=true)
    }}
    
    {{#perfect-scrollbar-element tagName="div" id="col-sidebar"
      class=colSidebarClass
    }}
      {{yield 'sidebar'}}
    {{/perfect-scrollbar-element}}
    
    {{#perfect-scrollbar-element
      class=colContentClass
    }}
      {{yield 'content'}}
    {{/perfect-scrollbar-element}}
  </div>
</div>
