{{!-- Bootstrap layout for signed-in user --}}

{{#side-menu width="85%"}}
  {{main-menu
    appModel=appModel
    currentItemChanged="mobileMenuItemChanged"
  }}
{{/side-menu}}
{{content-backdrop}}

<div class="container-fluid full-height">
  <div class="row row-mobile-menu visible-xs-block visible-sm-block disable-user-select">
    {{#side-menu-toggle}}
      <button type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    {{/side-menu-toggle}}
  </div>
  <div class="row row-app full-height">
    {{#perfect-scrollbar-element tagName="div"
      class="col-in-app-layout col-main-menu hidden-xs hidden-sm col-md-2 col-lg-1 full-height disable-user-select"
      click=(action "closeSidenav" bubbles=true)
    }}
      <div class="row row-onedata-logo">
        <div class="onedata-logo"></div>
      </div>
      <div class="row row-main-menu">
        {{main-menu
          appModel=appModel
          currentItemChanged="mainMenuItemClicked"
        }}
      </div>
    {{/perfect-scrollbar-element}}
    {{#one-sidenav open=sidenavSidebarOpen id="sidenav-sidebar"
      coverSelector="#col-sidebar" model=tabModel.content
    }}
      {{#if tabModel.isFulfilled}}
        {{component sidenavContentComponent model=tabModel.content}}
      {{else if tabModel.isPending}}
        TODO Loading...
      {{else if tabModel.isRejected}}
        TODO Rejected!
      {{/if}}
    {{/one-sidenav}}
    {{#perfect-scrollbar-element tagName="div" id="col-sidebar"
      class="col-in-app-layout col-sidebar hidden-xs col-sm-4 col-md-3 col-lg-2 full-height disable-user-select"
    }}
      {{#if sidenavSidebarOpen}}
        <div class="overlay" {{action "closeSidenav" bubbles=true}}></div>
      {{/if}}
      {{yield 'sidebar'}}
    {{/perfect-scrollbar-element}}
    {{#perfect-scrollbar-element
      class="col-in-app-layout col-content col-xs-12 col-sm-8 col-md-7 col-lg-9 full-height"
    }}
      {{#if sidenavSidebarOpen}}
        <div class="overlay" {{action "closeSidenav" bubbles=true}}></div>
      {{/if}}
      {{yield 'content'}}
    {{/perfect-scrollbar-element}}
  </div>
</div>
