<td class="row-header" {{action "headerClick" on="click"}}>
  {{one-icon icon="arrow-down"}}{{host.hostname}}
</td>
<td class="text-center toggle-column">
  {{one-way-toggle
    checked=host.database
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="database"
  }}
</td>
<td class="text-center toggle-column">
  {{one-way-toggle
    checked=host.clusterWorker
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="clusterWorker"
  }}
</td>
<td class="text-center toggle-column">
  {{one-way-toggle
    checked=host.clusterManager
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="clusterManager"
  }}
</td>
<td class="text-center toggle-column">
  {{one-way-toggle
    checked=isPrimaryClusterManager
    update=(action "primaryClusterManagerChanged" host.hostname)
    hostHostname=host.hostname
    hostOption="primaryClusterManager"
  }}
</td>
