{{#if isLoading}}
  {{spin-spinner-block sizeClass="lg" class="centered"}}
{{else}}
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-user-profile-icon">
        {{one-icon icon="user-profile" class="absolute-align-middle-center"}}
      </div>
    </div>
    <div class="row row-login-header text-center">
      <div class="col-xs-12">
        <h4>{{t "components.loginBox.login"}}</h4>
      </div>
    </div>
    {{!--<div class="row text-center">
      <div class="col-xs-12">
        {{t "components.loginBox.newAccountWillBeCreated"}}
      </div>
    </div>--}}
    <div class="row">
      <div class="col-xs-10 col-sm-6 col-md-5 col-lg-4 col-centered">
          {{basicauth-login-form
            authenticationSuccess="authenticationSuccess"
            authenticationFailure="authenticationFailure"
            authenticationStarted="authenticationStarted"
          }}
      </div>
    </div>
  </div>

{{/if}}
