{{!-- TODO i18n --}}

{{!-- TODO validation - if not ready to deploy, disable button --}}

<div class="row">
  <div class="btn-toolbar">
    {{!-- the spin-button has no disable support, so fork this or use another component... --}}
    {{#spin-button
      class=(concat "btn btn-primary btn-deploy-cluster pull-right " (unless canDeploy "disabled"))
      action=(action "startDeploy")
    }}
      Deploy
      {{bs-tooltip title="Configuration is invalid!" placement="left" class=(if canDeploy "hidden" "") triggerElement=".btn-deploy-cluster" }}
    {{/spin-button}}
  </div>
</div>
<div class="row">
  {{#if hostsProxy.isFulfilled}}
    {{cluster-host-table
      hosts=hosts
      primaryClusterManager=primaryClusterManager
      hostOptionChanged=(action "hostOptionChanged")
      primaryClusterManagerChanged=(action "primaryClusterManagerChanged")
      allValidChanged=(action "hostTableValidChanged")
    }}
  {{else}}
    {{!-- TODO make a component that got a object promise proxy and watches
    completion --}}
    {{#if hostsProxy.isPending}}
      {{spin-spinner-block sizeClass="md" class="centered"}}
    {{else if hosts.isRejected}}
      {{!-- TODO --}}
      Rejected!
    {{/if}}
  {{/if}}
</div>

{{!-- TODO maybe keep the modal opened short after promise resolve --}}
{{#if deploymentPromise}}
  {{#bs-modal
    id="cluster-deploy-progress"
    open=deploymentPromise
    keyboard=false
    backdropClose=false
    as |modal|
  }}
    {{#modal.body}}
      {{new-cluster-deploy-progress deploymentPromise=deploymentPromise}}
    {{/modal.body}}
  {{/bs-modal}}
{{/if}}
