{{!-- TODO i18n --}}

{{!-- TODO validation - if not ready to deploy, disable button --}}
{{#spin-button class="btn btn-default" buttonStyle="expand-left" action=(action "startDeploy")}}
  Deploy >
{{/spin-button}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hosts</th>
      <th>Database</th>
      <th>Cluster Worker</th>
      <th>Cluster Manager</th>
      <th>Remote Transfer</th>
      <th>Primary Cluster Manager</th>
    </tr>
  </thead>
  {{!-- TODO validation - highlight cols/rows if not valid --}}
  <tbody>
    {{#if hosts.isFulfilled}}
      {{#each hosts.content as |host|}}
        <tr>
          <td>{{host.hostname}}</td>
          <td>{{one-way-checkbox data-hostname=host.hostname data-option="database" update=(action 'checkboxChanged')}}</td>
          <td>{{one-way-checkbox data-hostname=host.hostname data-option="clusterWorker" update=(action 'checkboxChanged')}}</td>
          <td>{{one-way-checkbox data-hostname=host.hostname data-option="clusterManager" update=(action 'checkboxChanged')}}</td>
          <td>{{one-way-checkbox data-hostname=host.hostname data-option="remoteTransfer" update=(action 'checkboxChanged')}}</td>
          <td>{{one-way-radio primaryClusterManager option=host.hostname update=(action 'primaryClusterManagerChanged')}}</td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan=999>
          {{!-- TODO --}}
          Loading... ful: {{hosts.isFulfilled}}, rej: {{hosts.isRejected}}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
