{{!-- TODO i18n --}}

<form {{action "submit" on="submit" bubbles=false}}>
  <div class="form-group">
    {{one-way-select selectedStorageType
      options=storageTypes update=(action "storageTypeChanged")
    }}
  </div>
  <div class="form-group">
    {{one-way-input storageName
      update=(action "inputChanged" "storageName")
      placeholder="Storage name"
    }}
  </div>
  <div class="form-group">
    {{one-way-input username
      update=(action "inputChanged" "username")
      placeholder="Username"
    }}
  </div>
  <div class="form-group">
    {{one-way-password password
      update=(action "inputChanged" "password")
      placeholder="Password"
    }}
  </div>
  <div class="form-group">
    {{one-way-input bucketName
      update=(action "inputChanged" "bucketName")
      placeholder="Bucket name"
    }}
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        {{one-way-input blockSize
          update=(action "inputChanged" "blockSize")
          placeholder="Block size"
        }}
      </div>
      <div class="col-xs-12 col-md-6">
        {{one-way-input timeout 
          update=(action "inputChanged" "timeout")
          placeholder="Timeout"
        }}
      </div>
    </div>
  </div>
  
  
  <button type="submit" class="btn one-component one-default">
    Register
  </button>
  
</form>
