{{!-- TODO i18n --}}

{{!-- TODO validation - if not ready to deploy, disable button --}}

<div class="row content-row">
  <h1 class="">Hosts list
    <div class="btn-toolbar">
      {{#bs-button type="default" class="btn-sm"}}
        {{one-icon icon="settings"}}<span>Global settings</span>
      {{/bs-button}}
      {{#spin-button class="btn btn-primary btn-sm" action=(action "startDeploy")}}
        <span>Deploy</span>{{one-icon icon="arrow-right"}}
      {{/spin-button}}
    </div>
  </h1>
</div>
<div class="row">
  {{#if hostsProxy.isFulfilled}}
    {{cluster-host-table
      hosts=hosts
      primaryClusterManager=primaryClusterManager
      hostOptionChanged=(action "hostOptionChanged")
      primaryClusterManagerChanged=(action "primaryClusterManagerChanged")
    }}
  {{else}}
    {{!-- TODO make a component that got a object promise proxy and watches
    completion --}}
    {{#if hosts.isPending}}
      Loading...
    {{else if hosts.isRejected}}
      Rejected!
    {{/if}}
  {{/if}}
</div>

{{!-- TODO maybe keep the modal opened short after promise resolve --}}
{{#if deploymentPromise}}
  {{#bs-modal
    id="cluster-deploy-progress"
    open=deploymentPromise
    body=false
    footer=true
    as |modal|
  }}
    {{#modal.body}}
      {{new-cluster-deploy-progress deploymentPromise=deploymentPromise}}
    {{/modal.body}}
  {{/bs-modal}}
{{/if}}
