{{!-- TODO i18n --}}

<form {{action "submit" on="submit" bubbles=false}}>
  <div class="form-group">
    {{one-way-input onezoneDomain
      class="one-component"
      update=(action "inputChanged" "onezoneDomain")
      placeholder="Onezone domain"
    }}
  </div>
  <div class="form-group">
    {{one-way-input redirectionPoint
      class="one-component"
      update=(action "inputChanged" "redirectionPoint")
      placeholder="Redirection point"
    }}
  </div>
  <div class="form-group">
    {{one-way-input providerName
      class="one-component"
      update=(action "inputChanged" "providerName")
      placeholder="Provider name"
    }}
  </div>
  <div class="form-group">
    {{one-way-input latitude
      class="one-component"
      update=(action "inputChanged" "latitude")
      placeholder="Latitude (optional)"
    }}
  </div>
  <div class="form-group">
    {{one-way-input longitude
      class="one-component"
      update=(action "inputChanged" "longitude")
      placeholder="Longitude (optional)"
    }}
  </div>
  
  <button type="submit" class="btn one-component one-default">
    Register
  </button>
</form>
