{{#promise-proxy-container
  proxy=visitViaOnezoneUrlProxy
  absoluteCentered=true
}}
  {{#if visitViaOnezoneUrl}}
    <div class="onezone-button-container fading-login-method-container animated fast">
      <h2>
        {{t "components.loginBox.loginFormContainer.visitViaOnezoneHeader"}}
        <span class="subtitle-tip">
          {{one-icon icon="sign-question"}}
          {{one-tooltip title=(tt this "visitViaOnezoneHint")}}
        </span>
      </h2>
      <div class="col-xs-12 col-centered login-separator">
        <a href={{visitViaOnezoneUrl}} class="btn btn-primary with-addon full-width btn-login-onezone">
          <img class="btn-img-addon" src="assets/images/auth-providers/onezone.svg">
          <span class="text">{{tt this "visitViaOnezoneButton"}}</span>
        </a>
      </div>
      <div class="col-xs-12 col-centered login-separator">
        {{#hr-label class="light"}}{{tt this "or"}}{{/hr-label}}
      </div>
      <div class="col-xs-12 col-centered login-separator">
        <p class="text-center">
          <a {{action "emergencyPassphraseLoginToggle"}} class="username-login-toggle text-link">
            {{tt this "signInWithCredentialsLink"}}
          </a>
        </p>
      </div>
    </div>
  {{/if}}
  <div class="basicauth-login-form-container fading-login-method-container animated fast {{if visitViaOnezoneUrl "hide" "always-visible"}}">
    <h2>
      {{t "components.loginBox.loginFormContainer.signInWithCredentialsHeader"}} 
      <span class="subtitle-tip">
        {{one-icon icon="sign-question"}}
        {{one-tooltip title=(tt this "signInWithCredentialsHint")}}
      </span>
    </h2>
    {{basicauth-login-form
      withoutUsername=true
      authenticationSuccess=authenticationSuccess
      authenticationFailure=authenticationFailure
      authenticationStarted=authenticationStarted
      backButtonAction=(if visitViaOnezoneUrl (action "emergencyPassphraseLoginToggle") undefined)
    }}
  </div>
{{/promise-proxy-container}}
{{#if sessionHasExpired}}
  <div class="login-notification login-notification-sesion-expired login-notification-warning">
    <div class="inline-icon-container session-expired-icon-container">
      {{one-icon icon="menu-recent" class="session-expired-icon"}}  
    </div>
    {{tt this "sessionExpired"}}.
  </div>
{{/if}}

{{yield}}
