{{#listComponent.item class="ceph-node collapse-large" as |listItem|}}
  {{#listItem.header class="ceph-node-header"}}
    <span class="item-icon-container">
      {{one-icon class="item-icon" icon="node"}}
      {{one-tooltip
        title=node
        placement="top"
        arrowPlacement="left"
        triggerEvents="hover"
      }}
    </span>
    <span class="one-label node-name">
      {{node.host}}
    </span>
  {{/listItem.header}}
  {{#listItem.content}}
    <div class="item-table">
      <div class="item-table-content-cell">
        <div class="row content-row manager-monitor-section">
          <label for={{managerAndMonitorToggleId}} class="inline-label">
            <strong>{{tt this "managerAndMonitor"}}</strong>
          </label>
          {{one-way-toggle
            class="form-control manager-and-monitor"
            inputId=managerAndMonitorToggleId
            checked=node.managerMonitor.isEnabled
            update=(action "toggleManagerMonitor")
            isReadOnly=(not allowsEdition)
          }}
          {{#if node.managerMonitor.isEnabled}}
            {{ceph-cluster-configuration/manager-monitor-form
              showLayoutConfig=showFormLayoutConfig
              managerMonitor=node.managerMonitor
              isCephDeployed=isCephDeployed
              allowsEdition=allowsEdition}}
          {{/if}}
        </div>
        {{#promise-proxy-container proxy=node.devicesProxy}}
          {{#each node.osds key="uuid" as |osd|}}
            {{ceph-cluster-configuration/osd-form
              showLayoutConfig=showFormLayoutConfig
              osd=osd
              devices=node.notMountedDevices
              usedDevices=node.usedDevices
              isCephDeployed=isCephDeployed
              allowsEdition=allowsEdition
              removeOsd=(action "removeOsd" osd.uuid)}}
          {{/each}}
        {{/promise-proxy-container}}
        {{#if allowsEdition}}
          <div class="row content-row add-osd-section">
            {{#bs-button class="btn" size="sm" type="info" onClick=(action "addOsd")}}
              {{one-icon icon="add-filled"}} {{tt this "addOsd"}}
            {{/bs-button}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/listItem.content}}
{{/listComponent.item}}
