<td class="data-cell-start">
  {{startedAt}}
</td>
<td class="data-cell-stop">
  {{stoppedAt}}
</td>
<td class="data-cell-released-size">
  {{releasedSize}}
</td>
<td class="data-cell-files-number">
  {{filesNumber}}
</td>
<td class="data-cell-status">
  {{space-cleaning-reports/status-cell record=item}}
</td>
