{{#listItem.header}}
  <div class="data-row" data-row-id={{dataRowId}}>
    <span class="item-icon-container">
      {{space-cleaning-reports/status-cell record=item}}
    </span>
    <span class="one-label">{{startedAt}}</span>
  </div>
{{/listItem.header}}
{{#listItem.content}}
  {{#render-later triggerRender=listItem.isActive}}
    <div class="item-table">
      <div class="item-table-content-cell">
        <div class="row content-row">
          {{!-- FIXME: i18n --}}
          <strong>{{t "components.spaceCleaningReports.start"}}:</strong>
          <span class="one-label">{{startedAt}}</span>
        </div>
        <div class="row content-row">
          <strong>{{t "components.spaceCleaningReports.stop"}}:</strong>
          <span class="one-label">{{stoppedAt}}</span>
        </div>
        <div class="row content-row">
          <strong>{{t "components.spaceCleaningReports.releasedBytes"}}:</strong>
          <span class="one-label">{{releasedSize}}</span>
        </div>
        <div class="row content-row">
          <strong>{{t "components.spaceCleaningReports.start"}}:</strong>
          <span class="one-label">{{filesNumber}}</span>
        </div>
      </div>
    </div>
  {{/render-later}}
{{/listItem.content}}
