<p>
  {{tt this "textNotCompatible1" oneproviderVersion=oneproviderVersion}}
  <a class="nowrap" href="https://{{domain}}">{{domain}}</a>
  {{tt this "textNotCompatible2" onezoneVersion=onezoneVersion}}
</p>
<p>
  {{#one-doc-see-more}}
    <a
      class="documentation-link"
      href={{one-doc-url "compatibility_reference.html"}}
      target="_blank"
    >
      {{tt this "compatibilityReference"}}
    </a>
  {{/one-doc-see-more}}
</p>
