<p>
  {{tt this "textIntro"}}
  <a href="https://{{domain}}">{{domain}}</a>.
  {{#if supportedVersions.length}}
    {{tt this "textToRegister"}}
  {{/if}}
</p>
{{#if supportedVersions.length}}
  <ul class="info info-condensed info-gray">
    {{#each supportedVersions as |version|}}
      <li>{{version}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>
    {{tt this "noSupportedVersions"}}
  </p>
{{/if}}
