<p>
  {{tt this "textNotCompatible1" oneproviderVersion=oneproviderVersion}}
  <a class="nowrap" href="https://{{domain}}">{{domain}}</a>
  {{tt this "textNotCompatible2" onezoneVersion=onezoneVersion}}
</p>
<p>
  {{tt this "textDocs1"}}
  <a href={{one-doc-url "compatibility_reference.html"}}>{{tt this "documentation"}}</a>
  {{tt this "textDocs2"}}
</p>
