<td class="row-header truncate cell-hostname" {{action "headerClick" on="click"}} data-option="name">
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="node"}}
    {{one-tooltip
      title=hostname
      placement="top"
      triggerEvents="hover"
    }}
  </span>
  <span class="one-label">{{hostname}}</span>
</td>
<td class="cell-ip-address compact" data-option="ip-address">
  <div class="row">
    {{#if isReadOnly}}
      <span>{{ip}}</span>
    {{else}}
      {{#bs-form class="compact form-horizontal without-labels" as |form|}}
        {{#form.group
          validation=(if validationMessage "error" "success")
          class=(if validationMessage "has-message")
        }}
          <input
            class="form-control input-host-ip"
            value={{ip}}
            oninput={{action "valueChanged"}}
            placeholder={{tt this "example"}}
            disabled={{isReadOnly}}
          >
          {{#if validationMessage}}
            <div class="form-message">{{validationMessage}}</div>
          {{/if}}
        {{/form.group}}
      {{/bs-form}}
    {{/if}}
  </div>
</td>
