{{#unless config.hasManagerMonitor}}
  <div class="alert alert-warning with-icon" role="alert">
    {{one-icon icon="checkbox-filled-warning" class="alert-icon"}}
    {{tt this "atLeastManagerMonitor"}}
  </div>
{{/unless}}

{{#unless config.hasOsd}}
  <div class="alert alert-warning with-icon" role="alert">
    {{one-icon icon="checkbox-filled-warning" class="alert-icon"}}
    {{tt this "atLeastOsd"}}
  </div>
{{/unless}}

<h1>{{tt this "globalParameters"}}</h1>

{{ceph-cluster-configuration/main-options-form
  mainConfiguration=config.mainConfiguration
  isCephDeployed=isCephDeployed}}

<h1>{{tt this "nodes"}}</h1>

{{#one-collapsible-list as |list|}}
  {{#each sortedConfigNodes key="host" as |node|}}
    {{ceph-cluster-configuration/node
      listComponent=list
      node=node
      isCephDeployed=isCephDeployed}}
  {{/each}}
{{/one-collapsible-list}}
