{{!-- TODO: i18n --}}

{{!-- TODO make other component for creating forms from spec --}}

{{#bs-form submitOnEnter=false classNames="form-horizontal" as |form|}}
  {{#form.group}}
    {{#power-select
      options=storageTypes
      selected=selectedStorageType
      onchange=(action "storageTypeChanged")
      searchEnabled=false
      renderInPlace=true
      as |storageType|
    }}
      {{storageType.name}}
    {{/power-select}}
  {{/form.group}}

  {{#each currentFields as |field|}}
    {{#form.group}}
      <div class="row">
        {{#if (eq field.type "checkbox")}}
            <label for={{concat elementId (concat "-" field.name)}} class="col-xs-6 text-right control-label toggle-label">
              {{field.placeholder}}
            </label>
            <div class="col-xs-6">
              {{one-way-toggle
                class="form-control"
                inputId=(concat elementId (concat "-" field.name))
                checked=(get formValues field.name)
                update=(action "inputChanged" field.name)
              }}
          </div>
        {{else}}
          <div class="col-xs-12">
            {{component (input-component-name field.type)
              value=(get formValues field.name)
              class="form-control"
              update=(action "inputChanged" field.name)
              placeholder=field.placeholder
            }}
          </div>
        {{/if}}
      </div>
    {{/form.group}}
  {{/each}}

  {{#spin-button type="submit" class="btn btn-primary" action=(action "submit")}}
    Add
  {{/spin-button}}
{{/bs-form}}
