{{#promise-proxy-container proxy=statusProxy}}
  <div class="alert alert-{{alertLevel}} ceph-status">
    {{one-icon icon=statusIcon}}
    <strong class="ceph-status-message">{{statusProxy.summary}}</strong>
    {{#if statusProxy.messages.length}}
      <ul>
        {{#each statusProxy.messages as |message|}}
          <li>{{message}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/promise-proxy-container}}

<div class="row content-row no-border osds-usage">
  <h1>OSDs usage</h1>
  {{#promise-proxy-container proxy=osdsUsageProxy}}
    {{#one-collapsible-list as |list|}}
      {{#each osdsUsage as |hostOsds|}}
        {{#list.item as |listItem|}}
          {{#listItem.header}}
            <span class="item-icon-container">
              {{one-icon class="item-icon" icon="node"}}
              {{one-tooltip
                title=hostOsds.host
                placement="top"
                arrowPlacement="left"
                triggerEvents="hover"
              }}
            </span>
            <span class="osds-host">{{hostOsds.host}}</span>
          {{/listItem.header}}
          {{#listItem.content}}
            <div class="row content-row clearfix">
              {{#each hostOsds.osds as |osd|}}
                <div class="osd-usage col-md-4 col-sm-6 col-xs-12">
                  {{#truncated-string class="osd-name"}}{{osd.type}} {{or osd.device osd.path}}{{/truncated-string}}
                  {{one-space-indicator
                    currentTotalSize=osd.usage.total
                    occupiedSize=osd.usage.used}}
                </div>
              {{/each}}
            </div>
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/promise-proxy-container}}
</div>
