<td class="row-header" {{action "headerClick" on="click"}}>
  {{one-icon class="item-icon" icon="node"}}
  <span class="one-label">{{host.hostname}}</span>
</td>
<td class="text-center toggle-column" data-option="database">
  {{one-way-toggle
    checked=host.database
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="database"
    dataOption="database"
    isReadOnly=isReadOnly
  }}
</td>
<td class="text-center toggle-column">
  {{one-way-toggle
    checked=host.clusterWorker
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="clusterWorker"
    dataOption="clusterWorker"
    isReadOnly=isReadOnly
  }}
</td>
<td class="text-center toggle-column" data-option="clusterManager">
  {{one-way-toggle
    checked=host.clusterManager
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="clusterManager"
    dataOption="clusterManager"
    isReadOnly=isReadOnly
  }}
</td>
<td class="text-center toggle-column" data-option=="primaryClusterManager">
  {{one-way-toggle
    checked=isPrimaryClusterManager
    update=(action "primaryClusterManagerChanged" host.hostname)
    hostHostname=host.hostname
    hostOption="primaryClusterManager"
    dataOption="primaryClusterManager"
    isReadOnly=isReadOnly
  }}
</td>
