{{!-- TODO change .storage-table class or make generic --}}
{{!-- TODO i18n --}}

{{#listItem.header as |itemHeader|}}
  {{one-icon class="item-icon" icon="space"}}
  <span class="one-label">{{space.name}}</span>
  <div class="btn-toolbar">
    {{!-- TODO replace icon-btn with btn-icon-only to allow usage of bs-button or allow colors... --}}
    {{!-- NOTE: currently edit is enabled only for import/update --}}
    <button
      class={{concat "btn icon-btn btn-import-storage-data " _importButtonClass}}
      {{action _importButtonActionName itemHeader.toggleAction}}>
      {{one-icon icon="space-import"}}
      {{bs-tooltip
        title=_importButtonTip
        placement="bottom"
        triggerEvents="hover"
      }}
      {{#if _importActive}}
        {{one-icon
          icon="checkbox-filled"
          class="status-icon status-icon-success"
        }}
      {{/if}}
    </button>
    <button class="btn icon-btn btn-revoke-space" id={{concat elementId "-btn-revoke-space"}}>
      {{one-icon icon="remove"}}
      {{bs-tooltip
        visible=revokeTooltipVisible
        title="Revoke space support from this provider"
        placement="bottom"
        triggerEvents="hover"
      }}
    </button>
      {{!-- TODO make a generic component for confirmations --}}
      {{#one-webui-popover
        class="popover-revoke-space"
        placement="bottom-left"
        triggerSelector=(concat "#" (concat elementId "-btn-revoke-space"))
        submit=(action "revokeSpace")
        as |popover|
      }}
        <h1>Revoke space support?</h1>
        <p>When the support will be revoked, data from the "{{space.name}}" space that is not replicated among other providers will be lost.</p>
        <div class="btn-toolbar">
          {{#bs-button class="btn btn-sm" type="info" onClick=(action popover.hide)}}
            No, keep the support
          {{/bs-button}}
          {{#spin-button
            class="btn btn-sm btn-danger"
            action=(action popover.submit)
          }}
            {{one-icon icon="remove"}} <span>Yes, revoke</span>
          {{/spin-button}}
        </div>
      {{/one-webui-popover}}
  </div>
  
{{/listItem.header}}
{{#listItem.content}}
  <table class="item-table">
    <tr class="no-border">
      <td colspan="99">
        <div class="row content-row has-border row-small{{if (not importConfigurationOpen) " row-hidden"}}">
          <h1 class="form-title">Data import configuration</h1>
          {{storage-import-update-form class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered"
            defaultValues=importFormDefaultValue
            mode='edit'
            isFormOpened=importConfigurationOpen
            submit=(action "importUpdateConfigurationSubmit")
          }}
        </div>
      </td>
    </tr>
    <tr>
      <td class="item-table-img-cell"><div class="background-container"></div></td>
      <td class="item-table-content-cell">
        <div class="row content-row">
          <strong>{{t 'components.clusterSpacesTableItem.name'}}:</strong> 
          <span class="one-label">{{space.name}}</span>
        </div>
        <div class="row content-row">
          <strong>{{t 'components.clusterSpacesTableItem.id'}}:</strong>
          <span class="one-label">{{space.id}}</span>
        </div>
        <div class="row content-row">
          {{#promise-proxy-container proxy=_storage}}
            <strong>{{t 'components.clusterSpacesTableItem.storage'}}:</strong>
            <span class="one-label">{{_storage.name}}</span>
          {{/promise-proxy-container}}
        </div>
        {{#if space.importEnabled}}
          <div class="row content-row">
            <strong>{{t 'components.clusterSpacesTableItem.importStrategy'}}:</strong>
            <span class="one-label">{{importStrategyLabel}}</span>
            {{#each importProperties as |property|}}
              <div class="row content-row nested-row">
                <strong>{{t (concat (concat importTranslationPrefix property))}}:</strong>
                <span class="one-label">{{get space.storageImport property}}</span>
              </div>
            {{/each}}
          </div>
          <div class="row content-row">
            <strong>{{t 'components.clusterSpacesTableItem.updateStrategy'}}:</strong>
            <span class="one-label">{{updateStrategyLabel}}</span>
            {{#each updateProperties as |property|}}
              <div class="row content-row nested-row">
                <strong>{{t (concat (concat updateTranslationPrefix property))}}:</strong>
                <span class="one-label">{{get space.storageUpdate property}}</span>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </td>
    </tr>
  </table>
{{/listItem.content}}
