{{!-- TODO change .storage-table class or make generic --}}
{{!-- TODO i18n --}}

{{#listItem.header}}
  {{one-icon class="item-icon" icon="space"}}
  <span class="one-label">{{space.name}}</span>
  <div class="btn-toolbar">
    {{!-- TODO replace icon-btn with btn-icon-only to allow usage of bs-button or allow colors... --}}
    <button class="btn icon-btn">
      {{one-icon icon="provider"}}
      {{bs-tooltip
        title="Import data from storage"
        placement="bottom"
        triggerEvents="hover"
      }}
    </button>
    <button class="btn icon-btn btn-revoke-space" id={{concat elementId "-btn-revoke-space"}}>
      {{one-icon icon="remove"}}
      {{bs-tooltip
        visible=revokeTooltipVisible
        title="Revoke space support from this provider"
        placement="top"
        triggerEvents="hover"
      }}
    </button>
      {{!-- TODO make a generic component for confirmations --}}
      {{#one-webui-popover
        class="popover-revoke-space"
        placement="bottom-left"
        triggerSelector=(concat "#" (concat elementId "-btn-revoke-space"))
        submit=(action "revokeSpace")
        as |popover|
      }}
        <h1>Revoke space support?</h1>
        <p>When the support will be revoked, data from the "{{space.name}}" space that is not replicated among other providers will be lost.</p>
        <div class="btn-toolbar">
          {{#bs-button class="btn btn-sm" type="info" onClick=(action popover.hide)}}
            No, keep the support
          {{/bs-button}}
          {{#spin-button
            class="btn btn-sm btn-danger"
            action=(action popover.submit)
          }}
            {{one-icon icon="remove"}} <span>Yes, revoke</span>
          {{/spin-button}}
        </div>
      {{/one-webui-popover}}
  </div>
  
{{/listItem.header}}
{{#listItem.content}}
  <table class="item-table">
    <tr>
      <td class="item-table-img-cell"><div class="background-container"></div></td>
      <td class="item-table-content-cell">
        <div class="row content-row">
          <strong>Name:</strong> <span class="one-label">{{space.name}}</span>
        </div>
        <div class="row content-row">
          <strong>Id:</strong> <span class="one-label">{{space.id}}</span>
        </div>
        {{#if space.importEnabled}}
          <div class="row content-row">
            <strong>Import enabled TODO FIXME, strategy: {{space.storageImport.strategy}},</strong>
            <span>maxDepth: {{space.storageImport.maxDepth}}</span>
          </div>
        {{/if}}
        {{#if space.updateEnabled}}
          <div class="row content-row">
            <strong>Update enabled TODO FIXME, strategy: {{space.storageUpdate.strategy}},</strong>
            <span>maxDepth: {{space.storageUpdate.maxDepth}},</span>
            <span>scanInterval: {{space.storageUpdate.scanInterval}},</span>
            <span>writeOnce: {{space.storageUpdate.writeOnce}},</span>
            <span>deleteEnable: {{space.storageUpdate.deleteEnable}},</span>
          </div>
        {{/if}}
      </td>
    </tr>
  </table>
{{/listItem.content}}
