{{#promise-proxy-container proxy=loadingProxy}}
  <p class="text-right">
    {{#bs-button
      size="sm"
      type="default"
      class=(if addStorageOpened "cancel-create-pool" "create-pool")
      disabled=(and (not addStorageOpened) (not canCreatePool))
      onClick=(action "toggleAddStorageForm")}}
      {{tt this (if addStorageOpened "cancelCreatePool" "createPool")}}
    {{/bs-button}}
    {{!-- {{#link-to
      "onedata.sidebar.content.aspect" 
      "storages"
      (query-params options="createStorageFormTypeId.localceph")
      class="btn btn-default btn-sm create-pool"
      disabledWhen=(not canCreatePool)
    }}
      {{one-icon icon="add-filled"}}
      {{tt this "createPool"}}
    {{/link-to}} --}}
  </p>
  <div class="row content-row row-medium {{unless addStorageOpened "row-hidden"}}">
    <h1 class="form-title">{{tt this "addNewStorage"}}</h1>
      {{cluster-storage-add-form 
        class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered" 
        submit=(action "submitAddStorage")
        isFormOpened=addStorageOpened
        selectedStorageType=createStorageFormType
        disableStorageTypeSelector=true}}
  </div>
  {{#if pools.length}}
    {{#one-collapsible-list as |list|}}
      {{#each pools as |pool|}}
        {{#list.item as |listItem|}}
          {{#listItem.header}}
            <span class="item-icon-container">
              {{one-icon class="item-icon" icon="provider"}}
              {{one-tooltip
                title=pool.name
                placement="top"
                arrowPlacement="left"
                triggerEvents="hover"
              }}
            </span>
            <span class="one-label pool-name">
              {{pool.name}}
            </span>
          {{/listItem.header}}
          {{#listItem.content}}
            <div class="item-table row">
              <div class="row">
                <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell row pool-info">        
                  <div class="row content-row">
                    <strong class="property-label">
                      {{tt this "pool.copiesNumber"}}:
                    </strong>
                    <span class="one-label">{{pool.copiesNumber}}</span>
                  </div>
                  <div class="row content-row">
                    <strong class="property-label">
                      {{tt this "pool.minCopiesNumber"}}:
                    </strong>
                    <span class="one-label">{{pool.minCopiesNumber}}</span>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell row pool-usage">
                  <div class="row content-row no-border"><strong>{{tt this "poolUsage"}}</strong></div>
                  <div class="row content-row no-padding-top">
                    {{one-space-indicator
                      currentTotalSize=pool.usage.maxAvailable
                      occupiedSize=pool.usage.used}}
                  </div>
                </div>
              </div>
            </div>
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{else}}
    <p>{{tt this "noPools"}}</p>
  {{/if}}
{{/promise-proxy-container}}
