{{!-- TODO i18n --}}

{{#one-collapsible-list as |list|}}
  {{#each storages as |storage|}}
    {{#list.item class="storage-item" as |listItem|}}
    
      {{#listItem.header toolbarWhenOpened=true}}
        {{one-icon class="item-icon" icon="provider"}}
        {{storage.name}}
        <div class="btn-toolbar">
          <button class="btn icon-btn">{{one-icon icon="star"}}</button>
          <button class="btn btn-primary icon-btn">{{one-icon icon="space"}}</button>
          <button class="btn icon-btn">{{one-icon icon="rename"}}</button>
          <button class="btn icon-btn">{{one-icon icon="remove"}}</button>
        </div>
      {{/listItem.header}}

      {{#listItem.content}}
        <table class="item-table">
          <tr>
            <td class="item-table-img-cell"></td>
            <td class="item-table-content-cell">
              <div class="row content-row">
                <strong>Type:</strong> {{storage.type}}
              </div>
              <div class="row content-row">
                <strong>Mount point:</strong> {{storage.mountPoint}}
              </div>
            </td>
          </tr>
        </table>
      {{/listItem.content}}

    {{/list.item}}
  {{/each}}
{{/one-collapsible-list}}
