<td class="row-header truncate" {{action "headerClick" on="click"}} data-option="name">
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="node"}}
    {{one-tooltip
      title=host.hostname
      placement="top"
      arrowPlacement="left"
      triggerEvents="hover"
    }}
  </span>
  <span class="one-label">{{host.hostname}}</span>
</td>
<td class="text-center column toggle-column" data-option="database">
  {{one-way-toggle
    checked=host.database
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="database"
    dataOption="database"
    isReadOnly=isReadOnly
  }}
</td>
<td class="text-center column toggle-column" data-option="clusterWorker">
  {{one-way-toggle
    checked=host.clusterWorker
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="clusterWorker"
    dataOption="clusterWorker"
    isReadOnly=isReadOnly
  }}
</td>
<td class="text-center column toggle-column" data-option="clusterManager">
  {{one-way-toggle
    checked=host.clusterManager
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="clusterManager"
    dataOption="clusterManager"
    isReadOnly=isReadOnly
  }}
</td>
<td class="text-center column toggle-column" data-option="primaryClusterManager">
  {{one-way-toggle
    checked=isPrimaryClusterManager
    update=(action "primaryClusterManagerChanged" host.hostname)
    hostHostname=host.hostname
    hostOption="primaryClusterManager"
    dataOption="primaryClusterManager"
    isReadOnly=isReadOnly
  }}
</td>
<td class="text-center column toggle-column" data-option="ceph">
  {{one-way-toggle
    checked=host.ceph
    update=(action "checkboxChanged")
    hostHostname=host.hostname
    hostOption="ceph"
    dataOption="ceph"
    isReadOnly=isReadOnly
  }}
</td>
{{#if removeAvailable}}
  <td class="text-center column btn-column">
    <div
      class={{concat-classes "btn-remove-node" _removeHostBtnClass}}
      {{action "removeHost"}}
    >
      {{#if isMobile}}
        {{#one-spin-button
          class="btn btn-sm btn-danger"
        }}
          {{t "components.clusterHostTableRow.removeBtn"}}
        {{/one-spin-button}}
      {{else}}
        {{one-icon icon="checkbox-filled-x"}}
        {{one-tooltip
          title=(t "components.clusterHostTableRow.removeBtn")
          placement="top"
          arrowPlacement="right"
          triggerEvents="hover"
        }}
      {{/if}}
    </div>
  </td>
{{/if}}
