<div class="ceph-status-container min-height-100 relative">
  {{#promise-proxy-container proxy=statusProxy sizeClass="sm"}}
    <div class="alert alert-{{alertLevel}} with-icon ceph-status">
      {{one-icon icon=statusIcon class="alert-icon"}}
      <strong class="ceph-status-message">{{statusMessage}}</strong>
      {{#if status.messages.length}}
        <ul>
          {{#each status.messages as |message|}}
            <li>{{message}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/promise-proxy-container}}
</div>

<div class="osds-usage-container min-height-100 relative">
  <h1>{{tt this "osdsUsage"}}</h1>
  {{#promise-proxy-container proxy=osdsUsageProxy sizeClass="sm"}}
    {{#if osdsUsagePerHost.length}}

      {{#one-collapsible-list as |list|}}
        {{#each osdsUsagePerHost as |hostOsds|}}
          {{#list.item as |listItem|}}
            {{#listItem.header}}
              <span class="item-icon-container">
                {{one-icon class="item-icon" icon="node"}}
                {{one-tooltip
                  title=hostOsds.host
                  placement="top"
                  arrowPlacement="left"
                  triggerEvents="hover"
                }}
              </span>
              <span class="osds-host">{{hostOsds.host}}</span>
            {{/listItem.header}}
            {{#listItem.content}}
              <div class="content-row no-border osds-usage-row">
                {{#each hostOsds.osds as |osd|}}
                  <div class="osd-usage">
                    {{#truncated-string class="osd-name"}}
                      <strong>{{tt this osd.type}}</strong> {{or osd.device osd.path}}{{/truncated-string}}
                    {{one-space-indicator
                      currentTotalSize=osd.usage.total
                      occupiedSize=osd.usage.used}}
                  </div>
                {{/each}}
              </div>
            {{/listItem.content}}
          {{/list.item}}
        {{/each}}
      {{/one-collapsible-list}}

    {{else}}

      <p>{{tt this "noOsds"}}</p>

    {{/if}}
  {{/promise-proxy-container}}
</div>
