{{#bs-form submitOnEnter=false class="form-horizontal" as |form|}}
  {{#form.group}}
    <label class={{concat "control-label " layout.formLabelColumns}}>Storage type</label>
    <div class={{layout.formInputColumns}}>
      {{#power-select
        options=storageTypes
        selected=selectedStorageType
        onchange=(action "storageTypeChanged")
        searchEnabled=false
        renderInPlace=true
        as |storageType|
      }}
        {{storageType.name}}
      {{/power-select}}
    </div>
  {{/form.group}}
  
  {{one-form-fields
    bsForm=form
    fields=currentFields
    formValues=formValues
    inputChanged=(action "inputChanged")
    onFocusOut=(action "focusOut")
  }}
  <div class="row">
    <div class={{concat "text-xs-center " layout.formSubmitColumns}}>
      {{#spin-button type="submit" class="btn btn-primary" disabled=(not isValid) action=(action "submit")}}
        Add
      {{/spin-button}}
    </div>
  </div>
{{/bs-form}}
