{{!-- TODO change .storage-table class or make generic --}}
{{!-- TODO i18n --}}

{{#listItem.header disableToggleIcon=true as |itemHeader|}}
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="space"}}
    {{bs-tooltip
      title=space.name
      placement="right"
      triggerEvents="hover"
    }}
  </span>
  <span class="one-label">{{space.name}}</span>
  {{space-status-icons space=space syncStats=_syncStats}}
  <div class="one-collapsible-toolbar minimized pull-right">
    <div class="collapsible-toolbar-toggle btn-menu-toggle">
      <div class="icon-dot"></div>
      <div class="icon-dot"></div>
      <div class="icon-dot"></div>
    </div>
  </div>
  {{#one-webui-popover
    class=(concat "one-collapsible-toolbar-popover popover-" elementId)
    placement="bottom-left"
    padding=false
    triggerSelector=(local-selector elementId ".collapsible-toolbar-toggle")
    multi=false
    as |popover|
  }}
    <ul class="dropdown-menu">
      {{#one-collapsible-toolbar-item
        tagName="li"
        closeDropdown=popover.hide
        isMinimized=true
        itemAction=(action _importButtonActionName itemHeader.toggleAction)
      }}
        {{_importButtonTip}}
      {{/one-collapsible-toolbar-item}}
      
      {{#one-collapsible-toolbar-item
        tagName="li"
        closeDropdown=popover.hide
        isMinimized=true
        itemAction=(action "startRevoke")
      }}
        Revoke space support
      {{/one-collapsible-toolbar-item}}
    </ul>
  {{/one-webui-popover}}
{{/listItem.header}}

{{#listItem.content}}
  <div class="row item-table">
    <div class="row no-border">
      <div class="col-xs-12">
        <div class="row content-row has-border row-small{{if (not importConfigurationOpen) " row-hidden"}}">
          <h1 class="form-title">Data synchronization configuration</h1>
          {{storage-import-update-form class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered"
            defaultValues=importFormDefaultValue
            mode=(if _importActive "edit" "new")
            isFormOpened=importConfigurationOpen
            submit=(action "importUpdateConfigurationSubmit")
          }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell">
        <div class="row content-row">
          <strong>{{t 'components.clusterSpacesTableItem.name'}}:</strong> 
          <span class="one-label">{{space.name}}</span>
        </div>
        <div class="row content-row">
          <strong>{{t 'components.clusterSpacesTableItem.id'}}:</strong>
          <span class="one-label">{{space.id}}</span>
        </div>
        <div class="row content-row">
          {{#promise-proxy-container proxy=_storage}}
            <strong>{{t 'components.clusterSpacesTableItem.storage'}}:</strong>
            <span class="one-label">{{_storage.name}}</span>
          {{/promise-proxy-container}}
        </div>
        {{#if space.importEnabled}}
          <div class="row content-row">
            <strong>{{t 'components.clusterSpacesTableItem.storageImport.importStrategy'}}:</strong>
            <span class="one-label">{{importStrategyLabel}}</span>
            {{#each importProperties as |property|}}
              <div class="row content-row nested-row">
                <strong>{{t (concat (concat (concat importTranslationPrefix property)) ".name")}}:</strong>
                <span class="one-label">{{get space.storageImport property}}</span>
              </div>
            {{/each}}
          </div>
          <div class="row content-row">
            <strong>{{t 'components.clusterSpacesTableItem.storageUpdate.updateStrategy'}}:</strong>
            <span class="one-label">{{updateStrategyLabel}}</span>
            {{#each updateProperties as |property|}}
              <div class="row content-row nested-row">
                <strong>{{t (concat (concat (concat updateTranslationPrefix property)) ".name")}}:</strong>
                <span class="one-label">{{get space.storageUpdate property}}</span>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>

      <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell">
        {{#promise-proxy-container proxy=spaceSupportersProxy}}
          {{space-support-chart spaceSupporters=spaceSupportersProxy.content}}
        {{/promise-proxy-container}}
      </div>
      
      {{#if _syncStats.stats}}
        <div class="col-xs-12 item-table-cell item-table-content-cell">
          <div class="row content-row">
            <strong>Storage synchronization statistics</strong>
          </div>
          <div class="row content-row">
            {{#bs-button-group
              value=syncInterval
              type="radio"
              onChange=(action (mut syncInterval)) as |bg|
            }}
              {{#bg.button type="default" class="btn-sm" value=null}}
                Hide
              {{/bg.button}}
              {{#bg.button type="default" class="btn-sm" value="minute"}}
                Minute
              {{/bg.button}}
              {{#bg.button type="default" class="btn-sm" value="hour"}}
                Hour
              {{/bg.button}}
              {{#bg.button type="default" class="btn-sm" value="day"}}
                Day
              {{/bg.button}}
            {{/bs-button-group}}
          </div>
          {{#if showSyncStats}}
          <div class="row">
            <div class="col-xs-12 item-table-cell item-table-content-cell">
              {{space-sync-chart-operations
                lastUpdateTime=lastStatsUpdateTime
                timeStats=_syncStats.stats
                timeUnit=syncInterval
              }}
            </div>
            <div class="col-xs-12 item-table-cell item-table-content-cell">
              {{space-sync-chart-queue
                lastUpdateTime=lastStatsUpdateTime
                timeStats=_syncStats.stats
                timeUnit=syncInterval
              }}
            </div>
            <div class="col-xs-12 item-table-cell item-table-content-cell">
              {{space-sync-chart-throughput
                lastUpdateTime=lastStatsUpdateTime
                timeStats=_syncStats.stats
                timeUnit=syncInterval
              }}
            </div>
          </div>
          {{/if}}
        </div>
      {{/if}}
          
    </div>
  </div>
{{/listItem.content}}

{{#bs-modal
  open=_openRevokeModal
  onHide=(action "hideRevoke")
}}
  <h1>Revoke space support?</h1>
    <p>When the support will be revoked, data from the "{{space.name}}" space that is not replicated among other providers will be lost.</p>
    <div class="btn-toolbar">
      {{#bs-button class="btn btn-sm" type="info" onClick=(action "hideRevoke")}}
        No, keep the support
      {{/bs-button}}
      {{#spin-button
        class="btn btn-sm btn-danger"
        action=(action "revokeSpace")
      }}
        {{one-icon icon="remove"}} <span>Yes, revoke</span>
      {{/spin-button}}
    </div>
{{/bs-modal}}
