{{!-- TODO i18n --}}
  
<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">Provider</span>
    {{#one-collapsible-toolbar isGlobal=true as |dropdown|}}
      {{#dropdown.item buttonStyle="danger" triggerClasses="btn-deregister-provider" itemAction=(action "openDeregisterModal")}}
        Deregister provider
      {{/dropdown.item}}
      {{#dropdown.item buttonStyle=_editProviderButtonType triggerClasses="btn-modify-provider" itemAction=(action "toggleModifyProvider")}}
        {{_editProviderButtonLabel}}
      {{/dropdown.item}}
    {{/one-collapsible-toolbar}}
  </h1>
  {{!-- doubled confirmation message for both versions of toolbar - minimized and full --}}
  {{!-- TODO move to generic component for switchable popovers/modals --}}
  {{#one-webui-popover
    class="popover-deregister-provider"
    placement="bottom-left"
    triggerSelector=".btn-deregister-provider.btn"
    submit=submitAction
    as |popover|
  }}
    {{deregister-provider-confirm submitAction=(action "deregister") closeAction=(action popover.hide)}}
  {{/one-webui-popover}}
  {{#bs-modal
    open=_deregisterModalOpen
    onHidden=(action "closeDeregisterModal")
    as |modal|
  }}
    {{#modal.body}}
      {{deregister-provider-confirm submitAction=(action "deregister") closeAction=(action "closeDeregisterModal")}}
    {{/modal.body}}
  {{/bs-modal}}
</div>

<div class="row">
  <div class="row content-row row-small">
    <h1 class="form-title">{{_formTitle}}</h1>
    <p class="form-description">{{_formDescription}}</p>
    {{#promise-proxy-container proxy=providerProxy}}
      {{provider-registration-form
        mode=_providerFormMode
        provider=providerProxy.content
        submit=(action "submitModify")
      }}
    {{/promise-proxy-container}}
  </div>
</div>
