{{!-- TODO i18n --}}
  
<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">Provider</span>
    {{#one-collapsible-toolbar isGlobal=true as |dropdown|}}
      {{#dropdown.item buttonStyle="danger" triggerClasses="btn-deregister-provider" itemAction=(action "openDeregisterModal")}}
        Deregister provider
      {{/dropdown.item}}
      {{#dropdown.item buttonStyle=_editProviderButtonType triggerClasses="btn-modify-provider" itemAction=(action "toggleModifyProvider")}}
        {{_editProviderButtonLabel}}
      {{/dropdown.item}}
    {{/one-collapsible-toolbar}}
  </h1>
  {{#one-switchable-popover-modal
    triggersConfiguration=".btn-deregister-provider.btn;a.btn-deregister-provider:modal"
    popoverClass="popover-deregister-provider"
    submit=(action "deregister")
    as |ospm|}}
    {{deregister-provider-confirm submitAction=ospm.submit closeAction=ospm.close}}
  {{/one-switchable-popover-modal}}
</div>

<div class="row">
  <div class="row content-row row-small">
    <h1 class="form-title">{{_formTitle}}</h1>
    <p class="form-description">{{_formDescription}}</p>
    {{#promise-proxy-container proxy=providerProxy}}
      {{provider-registration-form
        mode=_providerFormMode
        provider=providerProxy.content
        submit=(action "submitModify")
      }}
    {{/promise-proxy-container}}
  </div>
</div>
