{{#if selectedSpaceProxy}}
  {{#promise-proxy-container
    proxy=selectedSpaceProxy
    spinnerBlockClass="absolute-middle-centered"
  }}
    {{content-clusters-spaces-show
      space=selectedSpaceProxy.content
      providerProxy=providerProxy
      modifySpace=(action "modifySpace" selectedSpaceProxy.content)
      startRevokeSpace=(action "startRevokeSpace")
      selectedTab=selectedTab
    }}
  {{/promise-proxy-container}}
{{else}}
  {{content-clusters-spaces-list
    providerProxy=providerProxy
    spacesProxy=spacesProxy
    startRevokeSpace=(action "startRevokeSpace")
    updateSpacesProxy=(action "updateSpacesProxy")
  }}
{{/if}}

{{#proceed-process-modal
  opened=spaceToRevoke
  close=(action "confirmRevokeModal" false)
  proceed=(action "confirmRevokeModal" true)
  modalIcon="sign-warning-rounded"
  headerText=(tt this "revokeSupportTitle")
  cancelButtonText=(tt this "revokeSupportCancel")
  proceedButtonText=(tt this "revokeSupportProceed")
}}
  <p>{{tt this "revokeSupportMsg" spaceName=spaceToRevoke.name}}</p>
  <p>{{tt this "revokeSupportQuestion"}}</p>
{{/proceed-process-modal}}
