  {{!-- TODO i18n --}}
  
<div class="row content-row header-row hidden-xs">
  <h1 class="with-menu">
    <span class="one-label">{{tt this "spaces"}}</span>
    {{actions-toolbar actionsArray=globalActions}}
    {{!-- Only for development --}}
    {{!--{{#one-spin-button
      action=(action "updateSpacesList")
      class="btn btn-sm btn-default btn-update-spaces-list"
    }}
      Refresh list
    {{/one-spin-button}}--}}
  </h1>
</div>

<div class="row">
  <div id="support-space" class="row content-row row-small {{unless _supportSpaceOpened 'row-hidden'}}">
    {{#if _supportSpaceOpened}}
      <h1 class="form-title">{{tt this "addSupportForSpace"}}</h1>
      {{support-space-form
        submitSupportSpace=(action "submitSupportSpace")
        isFormOpened=_supportSpaceOpened
      }}
    {{/if}}
  </div>
  {{#promise-proxy-container proxy=providerProxy}}
    {{#loading-container isLoading=spacesListLoading errorReason=spacesProxy.reason}}
      {{cluster-spaces-table
        spaces=spaces
        provider=providerProxy.content
        revokeSpace=(action "revokeSpace")
        modifySpace=(action "modifySpace")
      }}
      {{#if someSpaceIsLoading}}
        <div class="loading-more-row">
          {{spin-spinner-block sizeClass="sm" class="fill-middle-centered"}}
        </div>
      {{/if}}
    {{/loading-container}}
  {{/promise-proxy-container}}
</div>
