<div class="row content-row header-row hidden-xs">
  <h1 class="with-menu with-pages-control">
    <span class="one-label">{{tt this "spaces"}}</span>
    {{#if (gt paginator.pagesCount 1)}}
      {{pages-control
        activePageNumber=paginator.activePageNumber
        pagesCount=paginator.pagesCount
        pageSize=paginator.pageSize
        onPageChange=paginator.changeActivePageNumber
      }}
    {{/if}}
    {{actions-toolbar actionsArray=globalActions}}
  </h1>
</div>

<div class="row">
  <div id="support-space" class="row content-row row-small {{unless supportSpaceOpened 'row-hidden'}}">
    {{#if supportSpaceOpened}}
      <h1 class="form-title">{{tt this "addSupportForSpace"}}</h1>
      {{support-space-form
        submitSupportSpace=(action "submitSupportSpace")
        isFormOpened=supportSpaceOpened
      }}
    {{/if}}
  </div>
  {{#promise-proxy-container proxy=providerProxy}}
    {{#loading-container
      isLoading=spacesListLoading
      errorReason=spacesProxy.reason
      loadingLabel=(tt this "loadingSpaces")
    }}
      {{cluster-spaces-table
        spaces=paginator.activePageArray
        provider=providerProxy.content
        startRevokeSpace=(action "startRevokeSpace")
      }}
      {{#if someSpaceIsLoading}}
        <div class="loading-more-row">
          {{spin-spinner-block sizeClass="sm" class="fill-middle-centered"}}
        </div>
      {{/if}}
      {{#if (gt paginator.pagesCount 1)}}
        {{pages-control
          class="bottom-pages-control"
          activePageNumber=paginator.activePageNumber
          pagesCount=paginator.pagesCount
          pageSize=paginator.pageSize
          onPageChange=paginator.changeActivePageNumber
        }}
      {{/if}}
    {{/loading-container}}
  {{/promise-proxy-container}}
</div>