<div class="container">
  {{#if errorMessage}}
    {{!-- TODO error screen --}}
    {{errorMessage}}
  {{else if isLoading}}
    {{!-- TODO loading --}}
  {{else}}
    {{login-box/header model=headerModel}}
    <div class="row row-login-header text-center">
      <div class="col-xs-12">
        <h4>{{tt this "header"}}</h4>
      </div>
    </div>
    {{!-- TODO remove .additional-bottom-margin after icons resize --}}
    <div class="row additional-bottom-margin">
      <div class="col-xs-10 col-centered">
        {{create-admin-form
          isBusy=isBusy
          registerSuccess=(action "registerSuccess")
          registerFailure=(action "registerFailure")
          registerStarted=(action "registerStarted")
        }}
      </div>
    </div>
  {{/if}}
</div>
