<h1>{{t "components.deregisterProviderConfirm.deregisterProviderHeader"}}</h1>
<p>{{t "components.deregisterProviderConfirm.deregistrationResults"}}</p>
<div class="btn-toolbar">
  {{#bs-button class="btn btn-sm" type="info" onClick=closeAction}}
    {{t "components.deregisterProviderConfirm.keepItRegistered"}}
  {{/bs-button}}
  {{#one-spin-button
    class="btn btn-sm btn-danger"
    action=submitAction
  }}
    {{one-icon icon="remove"}} <span>{{t "components.deregisterProviderConfirm.yesDeregister"}}</span>
  {{/one-spin-button}}
</div>
