<h1>{{tt this "deregisterProviderHeaderEmergency"}}</h1>
<p>{{tt this "deregistrationResults"}}</p>
<div class="btn-toolbar">
  {{#bs-button class="btn btn-sm" type="info" onClick=closeAction}}
    {{tt this "keepItRegistered"}}
  {{/bs-button}}
  {{#one-spin-button
    class="btn btn-sm btn-danger"
    action=submitAction
  }}
    {{one-icon icon="remove"}} <span>{{tt this "yesDeregister"}}</span>
  {{/one-spin-button}}
</div>
