{{#one-warning-bar
  text=(or workerIsUnavailableText (tt this "emergencyInterface"))
  barClasses=(if workerIsUnavailable "one-warning-bar-danger")
  as |bar|
}}
  {{#bar.modal.header}}
    <h1>
      {{one-icon icon="sign-info-rounded"}}
      <span class="one-label">{{if workerIsUnavailable workerIsUnavailableText (tt this "modal.emergency.header")}}</span>
    </h1>
  {{/bar.modal.header}}
  {{#bar.modal.body}}
    {{#if workerIsUnavailable}}
      {{#if (eq onepanelServiceType "onezone")}}
        <p>{{tt this "modal.workerMalfunction.ozMainMessage"}}</p>
        <ul class="info info-condensed info-gray">
          <li>{{tt this "modal.workerMalfunction.ozConsultLogs"}}</li>
          <li>{{tt this "modal.workerMalfunction.ozVerifyRunning"}}</li>
        </ul>
      {{else}}
        <p>{{tt this "modal.workerMalfunction.opMainMessage"}}</p>
        <ol class="info info-condensed info-gray">
          <li>
            {{tt this "modal.workerMalfunction.opSuperiorOnezoneBeforeUrl"}}<a class="break-all" href={{onezoneOrigin}}>{{onezoneOrigin}}</a>{{tt this "modal.workerMalfunction.opSuperiorOnezoneAfterUrl"}}
          </li>
          <li>{{tt this "modal.workerMalfunction.opIsNotRunning"}}
            <ul class="info info-condensed info-gray">
              <li>{{tt this "modal.workerMalfunction.opConsultLogs"}}</li>
              <li>{{tt this "modal.workerMalfunction.opVerifyRunning"}}</li>
            </ul>
          </li>
        </ol>
      {{/if}}
    {{else}}
      <p>{{tt this "modal.emergency.text1"}}</p>
      <p>{{tt this "modal.emergency.text2"}}</p>
    {{/if}}
  {{/bar.modal.body}}
  {{#bar.modal.footer class="btn-toolbar"}}
    {{#one-button
      type="default"
      onClick=(action bar.modal.close)
    }}
      {{tt this "modal.close"}}
    {{/one-button}}
    {{#unless workerIsUnavailable}}
      <a
        href={{visitViaOnezoneUrl}}
        class="btn btn-primary"
        disabled={{or visitViaOnezoneUrlProxy.isPending (not visitViaOnezoneUrl)}}
      >
        {{one-icon icon="onezone"}}
        {{tt this "modal.emergency.openInOnezone"}}
        {{#if (and visitViaOnezoneUrlProxy.isSettled (not visitViaOnezoneUrl))}}
          {{#one-tooltip}}
            {{t "services.onezoneGui.onezoneNotAvailable" onezoneOrigin=onezoneOrigin}}
          {{/one-tooltip}}
        {{/if}}
      </a>
    {{/unless}}
  {{/bar.modal.footer}}
{{/one-warning-bar}}
