<div class="row content-row header-row {{unless nextStep "hidden-xs"}}">
  <h1 class="with-menu">
    <span class="one-label">{{tt this "storages"}}</span>
    {{actions-toolbar minimumFullWindowSize=0 actionsArray=globalActions}}
  </h1>
</div>
<div class="row content-row row-medium {{unless addStorageOpened "row-hidden"}}">
  <h1 class="form-title">{{tt this "addNewStorage"}}</h1>
    {{cluster-storage-add-form 
      class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered" 
      submit=(action "submitAddStorage")
      isFormOpened=addStorageOpened}}
</div>
<div class="row {{if storagesLoading "min-height-100"}}">
  {{#loading-container
    isLoading=(or storagesLoading spacesProxy.isPending)
    errorReason=(or storagesError spacesProxy.reason)}}
    {{#unless noStorages}}
      {{cluster-storage-table 
        storages=storagesProxy.content 
        spaces=spacesProxy.content
        submitModifyStorage=(action "submitModifyStorage")
        removeStorage=(action (mut storageToRemove))
      }}
      {{#if someStorageIsLoading}}
        <div class="loading-more-row">
          {{spin-spinner-block sizeClass="sm" class="fill-middle-centered"}}
        </div>
      {{/if}}
    {{/unless}}
  {{/loading-container}}
</div>
{{proceed-process-modal
  opened=storageToRemove
  processing=isRemovingStorage
  close=(action (mut storageToRemove) null)
  proceed=(action "submitRemoveStorage")
  modalClass="remove-storage-modal"
  modalIcon="sign-warning-rounded"
  headerText=(tt this "removeStorageModalHeader")
  messageText=(tt this "removeStorageModalMessage" name=storageToRemove.name)
  proceedButtonText=(tt this "remove")}}
