{{#bs-modal
  id="configure-web-cert"
  open=open
  onHide=(action "onHide")
  keyboard=false
  backdropClose=false
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{one-icon icon="sign-warning-rounded"}}
      <span class="one-lable">{{tt this "title"}}</span>
    </h1>
  {{/modal.header}}
  {{#modal.body}}
    <p>{{tt this "text"}}</p>
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button
      type="default"
      onClick=(action modal.close)
    }}
      {{tt this "btnDiscard"}}
    {{/bs-button}}
    {{#link-to
      "onedata.sidebar.content.aspect"
      "certificate"
      class="btn btn-primary"
    }}
      {{tt this "btnGoToCert"}}
    {{/link-to}}
  {{/modal.footer}}
{{/bs-modal}}
