<div class="row content-row header-row">
  <h1>{{tt this "header"}}
    <div class="btn-toolbar">
      {{#if (not _redirectPage)}}
        {{#one-button
          type="primary"
          buttonType="submit"
          size="sm"
          class=(concat "btn-cert-next " btnClass)
          onClick=(action "proceed")
        }}
          <span>{{btnLabel}}</span>{{one-icon icon="arrow-right"}}
        {{/one-button}}
      {{/if}}
    </div>
  </h1>
</div>

<div class="row content-row no-border">
  {{#promise-proxy-container proxy=webCertProxy}}
    <p>
      {{tt this (concat "text.intro." onepanelServiceType)}}
      {{tt this "text.infoP1"}}
    </p>
    <p>
      {{tt this "text.infoP21"}}
      (<a href="https://letsencrypt.org/repository">https://letsencrypt.org/repository</a>).
      {{tt this "text.infoP22"}}
    </p>
  {{/promise-proxy-container}}
</div>

<div class="row">
  {{#bs-form
    submitOnEnter=false
    class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered form-horizontal"
    as |form|
  }}
    {{one-form-fields
      bsForm=form
      fields=formFields
      formValues=formValues
      inputChanged=(action "changeFormValue")
      disabled=isWorking
    }}
  {{/bs-form}}
</div>

{{#if letsEncrypt}}
  <div class="alert alert-info fade in">
    {{tt this "redirectInfo"}}
  </div>
{{else}}
  <div class="alert alert-warning fade in">
    {{tt this "manualWarning"}}
    {{one-doc-see-more
      linkName=(tt this "certDocsLink")
      topic="web-certificate"
    }}
  </div>
{{/if}}

{{modal-redirect open=_redirectPage}}
