<div class="row content-row header-row">
  <h1>{{tt this "cephConfiguration"}}
    <div class="btn-toolbar">
      {{#bs-button
        class=(concat "btn btn-sm btn-default btn-ceph-back")
        onClick=(action "prevStep")
      }}
        {{one-icon icon="arrow-left"}}<span>{{tt this "backBtn"}}</span>
      {{/bs-button}}
      {{#one-spin-button
        class="btn btn-sm btn-primary btn-deploy-cluster btn-ceph-proceed"
        disabled=(not cephConfig.isValid)
        action=(action (if cephEnabled "nextStep" "startDeploy"))
      }}
        <span>{{tt this "deploy"}}</span>{{one-icon icon="arrow-right"}}
        {{#unless canDeploy}}
          {{one-tooltip title=(tt this "invalidConfig") placement="left"}}
        {{/unless}}
      {{/one-spin-button}}
    </div>
  </h1>
</div>
<div class="row content-row no-border">
  {{ceph-cluster-configuration
    config=cephConfig
    mode="create"}}
</div>
{{#if clusterDeployProcess.deploymentPromise}}
  {{new-cluster-deploy-progress deploymentPromise=clusterDeployProcess.deploymentPromise}}
{{/if}}
