{{!-- TODO i18n --}}

<form {{action "submit" on="submit" bubbles=false}}>
  <div class="form-group">
    {{one-way-input onezoneDomain
      class="form-control"
      update=(action "inputChanged" "onezoneDomain")
      placeholder="Onezone domain"
    }}
  </div>
  <div class="form-group">
    {{one-way-input redirectionPoint
      class="form-control"
      update=(action "inputChanged" "redirectionPoint")
      placeholder="Redirection point"
    }}
  </div>
  <div class="form-group">
    {{one-way-input providerName
      class="form-control"
      update=(action "inputChanged" "providerName")
      placeholder="Provider name"
    }}
  </div>
  <div class="form-group">
    {{one-way-input latitude
      class="form-control"
      update=(action "inputChanged" "latitude")
      placeholder="Latitude (optional)"
    }}
  </div>
  <div class="form-group">
    {{one-way-input longitude
      class="form-control"
      update=(action "inputChanged" "longitude")
      placeholder="Longitude (optional)"
    }}
  </div>
  
  {{#spin-button type="submit" class="btn btn-default" buttonStyle="expand-left" action=(action "submit")}}
    Register
  {{/spin-button}}
</form>
