<div class="container">
  {{#if errorMessage}}
    {{!-- TODO error screen --}}
    {{errorMessage}}
  {{else if isLoading}}
    {{!-- TODO loading --}}
  {{else}}  
    {{login-box/header model=headerModel}}
        
    <div class="row row-login-header text-center">
      <div class="col-xs-12">
        <h4>
          <span class="one-label">
            {{tt this (concat "headers." mode)}}
          </span>
          {{#if (eq mode "first")}}
            {{one-label-tip
              title=(tt this "hints.first")
              placement="bottom"
            }}
          {{/if}}
        </h4>
      </div>
    </div>
    {{!-- TODO remove .additional-bottom-margin after icons resize --}}
    <div class="row additional-bottom-margin">
      <div class="col-xs-10 col-centered">
        {{#if (eq mode "first")}}
          <div class="row row-first-button">
            {{#bs-button
              type="primary"
              onClick=(action "changeMode" "create")
            }}
              {{tt this "createNewCluster"}}
            {{/bs-button}}
            {{one-label-tip
              title=(tt this "createNewClusterHint")
              placement="top"
            }}
          </div>
          <div class="row row-first-button">
            {{#bs-button
              type="primary"
              onClick=(action "changeMode" "join")
            }}
              {{tt this "joinCluster"}}
            {{/bs-button}}
            {{one-label-tip
              title=(tt this "joinClusterHint")
              placement="top"
            }}
          </div>
        {{else if (eq mode "create")}}
          {{create-admin-form
            isBusy=isBusy
            registerSuccess=(action "registerSuccess")
            registerFailure=(action "registerFailure")
            registerStarted=(action "registerStarted")
            back=(action "changeMode" "first")
          }}
        {{else if (eq mode "join")}}
          <h4 class="description join-description">
            {{tt this "descriptions.join"}}
          </h4>
          <div class="hostname-row loadable-row">            
            {{#promise-proxy-container proxy=hostnameProxy}}
              {{clipboard-line value=hostnameProxy.content}}
            {{/promise-proxy-container}}
          </div>
          <div class="row text-center">
            {{#bs-button
              type="default"
              onClick=(action "changeMode" "first")
              class="btn-back"
            }}
              {{one-icon icon="arrow-right"}}
              {{tt this "back"}}
            {{/bs-button}}  
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
