<div class="row">
  <label class={{concat "control-label " layout.formLabelColumns}}>
    {{field.placeholder}}:
  </label>
  <span class={{concat (concat (concat "form-control-static one-form-field-static " fieldNameClass) " ") layout.formInputColumns}}>
    {{#if fakePassword}}
      {{fake-password}}
    {{else}}
      {{value}}
    {{/if}}
  </span>
</div>
