{{!-- TODO make some helper for generating input ids --}}

{{#each fields as |field|}}
  {{#bsForm.group}}
    {{#if (eq field.type "checkbox")}}
      <div class="row toggle-centered-form-row">
        <label for={{concat parentView.elementId (concat "-" field.name)}} class="col-xs-6 control-label">
            {{field.placeholder}} {{if field.optional (concat " " (t "components.oneFormFields.optional"))}}
          </label>
        <div class="col-xs-6">
          {{one-way-toggle
            class="form-control"
            inputId=(concat parentView.elementId (concat "-" field.name))
            checked=(get formValues field.name)
            update=(action "inputChanged" field.name)
            disabled=disabled
          }}
        </div>
      </div>
    {{else}}
      <div class="col-xs-12">
        {{component (input-component-name field.type)
          id=(concat parentView.elementId (concat "-" field.name))
          value=(get formValues field.name)
          class="form-control"
          update=(action "inputChanged" field.name)
          placeholder=(concat field.placeholder (concat " " (if field.optional (t "components.oneFormFields.optional"))))
          step=field.step
          disabled=disabled
        }}
      </div>
    {{/if}}
  {{/bsForm.group}}
{{/each}}
