{{!-- TODO make some helper for generating input ids --}}

{{#each fields as |field|}}
  {{#bsForm.group validation=(if field.isInvalid "error" (if field.isValid "success")) class="col-xs-12"}}
    {{#if (eq field.type "checkbox")}}
      <div class="row toggle-form-row">
        <label for={{concat parentView.elementId (concat "-" field.name)}} class={{concat "control-label text-right " layoutConfig.formToggleLabelColumns}}>
          {{field.label}}{{if field.optional (concat " " (t "components.oneFormFields.optional"))}}:
          {{#if field.tip}}
            {{one-label-tip title=field.tip}}
          {{/if}}
        </label>
        <div class={{layoutConfig.formToggleInputColumns}}>
          {{one-way-toggle
            class=(concat "form-control toggle-field-" field.name)
            inputId=(concat parentView.elementId (concat "-" field.name))
            checked=(get formValues field.name)
            update=(action "inputChanged" field.name)
            disabled=disabled
            onFocusOut=(action "onFocusOut" field)
          }}
        </div>
      </div>
    {{else if (eq field.type "static")}}
      {{one-form-field-static
        field=field
        value=(get formValues field.name)
      }}
    {{else}}
      {{one-form-field
        inputId=(concat parentView.elementId (concat "-" field.name))
        field=field
        value=(get formValues field.name)
        disabled=disabled
        inputChanged=(action "inputChanged")
        onFocusOut=(action "onFocusOut" field)
      }}
    {{/if}}
  {{/bsForm.group}}
{{/each}}
