<div class="box-title">
  {{one-icon icon="onezone"}}<span class="onezone-name break-word">{{onezoneInfo.name}}</span>
</div>
<a href="https://{{onezoneInfo.domain}}" class="black onezone-domain break-word" target="_blank">https://{{onezoneInfo.domain}}</a><br>
{{tt this "onezoneVersion"}}: <span class="onezone-version">{{onezoneInfo.version}}</span>
