<div class="row no-border">
  <div class="col-xs-12">
    {{#one-collapsible-list as |list|}}
      {{#list.item closeEventName=(concat elementId "-import-config:close") as |listItem|}}
        {{#listItem.header
          class="hoverable"
        }}
          <div class="item-icon-container">
            {{one-icon class="item-icon" icon="settings"}}
          </div>
          <strong>{{tt this "configurationCollapse"}}</strong>
        {{/listItem.header}}
        {{#listItem.content}}
          <div class="row content-row row-medium{{if (not importConfigurationOpen) " row-hidden"}}">
            <h1 class="form-title">{{tt this "importFormHeader"}}</h1>
            {{storage-import-form
              class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered"
              defaultValues=space
              mode="edit"
              isFormOpened=importConfigurationOpen
              submit=(action "modifySpace")
            }}
          </div>
        {{/listItem.content}}
      {{/list.item}}
    {{/one-collapsible-list}}
  </div>
</div>

<div class="row row-time-stats-charts">
  {{#bs-button-group
    class="btn-group-floating btn-group-3-btns"
    value=importInterval
    type="radio"
    onChange=importIntervalChanged as |bg|
  }}
    {{#bg.button type="default" class="btn-sm btn-import-interval-minute" value="minute"}}
      {{tt this "minute"}}
      {{one-tooltip title="Show statistics for last minute" triggerEvents="hover"}}
    {{/bg.button}}
    {{#bg.button type="default" class="btn-sm btn-import-interval-hour" value="hour"}}
      {{tt this "hour"}}
      {{one-tooltip title="Show statistics for last hour" triggerEvents="hover"}}
    {{/bg.button}}
    {{#bg.button type="default" class="btn-sm btn-import-interval-day" value="day"}}
      {{tt this "day"}}
      {{one-tooltip title="Show statistics for last day" triggerEvents="hover"}}
    {{/bg.button}}
  {{/bs-button-group}}
  
  <div class="tab-info-floating">
    {{#if importIsPending}}
      {{#one-spin-button
        class="btn btn-sm btn-danger"
        action=stopScan
      }}
        {{one-icon icon="cancelled"}}
        <span class="text">{{tt this "stopScan"}}</span>
      {{/one-spin-button}}
    {{else}}
      {{#one-spin-button
        class="btn btn-sm btn-success"
        action=startScan
      }}
        {{one-icon icon="play"}}
        <span class="text">{{tt this "startScan"}}</span>
      {{/one-spin-button}}
    {{/if}}
  </div>
  
  {{#loading-container isLoading=timeStatsLoading errorReason=timeStatsError}}
    <div class="col-xs-12 item-table-cell item-table-content-cell">
      {{storage-import-chart-operations
        timeStats=timeStats
        timeUnit=importInterval
      }}
    </div>
    <div class="col-xs-12 item-table-cell item-table-content-cell">
      {{storage-import-chart-queue
        timeStats=timeStats
        timeUnit=importInterval
      }}
    </div>
    <div class="col-xs-12 item-table-cell item-table-content-cell">
      {{storage-import-chart-throughput
        timeStats=timeStats
        timeUnit=importInterval
      }}
    </div>
  {{/loading-container}}
</div>
