{{!-- FIXME: i18n --}}
{{!-- FIXME: hints text --}}

<div class="row content-row no-border">
  <h1>
    <label for="files-popularity-enabled">
      {{t "components.spaceFilesPopularity.filesPopularity"}}
    </label>
    {{one-label-tip
      title="Files popularity feature allows Oneprovider to track files statistics for a selected space"
      placement="top"
    }}
    {{one-way-toggle inputId="files-popularity-enabled"
      checked=filesPopularity.enabled
      class="pull-right right"
      spinnerSide="left"
      update=(action "toggleFilesPopularity")}}
  </h1>
</div>

{{#if filesPopularity.enabled}}
  <div class="row content-row no-border no-padding-top">
    <h1>{{t "components.spaceFilesPopularity.restApi"}}</h1>
    {{!-- TODO: a description of input, maybe one-form-field --}}
    {{one-way-input class="form-control files-popularity-rest-url" value=filesPopularity.restUrl}}
    {{!-- TODO: input with copy button component --}}
  </div>
{{/if}}

