{{!-- FIXME: hints text --}}

<div class="row content-row no-border no-padding-top">
  <h1>
    <label>{{t "components.spaceAutoCleaning.cleanReplicatedFiles"}}</label>
    {{one-label-tip
      title=(t "components.spaceAutoCleaning.headerHint")
      placement="top"
    }}
    <span class="form-state">
      {{#if (eq _formStatus "saving")}}
        <span class="animated infinite semi-hinge pulse-mint">{{t "components.spaceCleaningConditionsForm.saving"}}</span>
      {{else if (eq _formStatus "saved")}}
        {{t "components.spaceCleaningConditionsForm.saved"}}
      {{else if (eq _formStatus "failed")}}
        <span class="text-danger">{{t "components.spaceCleaningConditionsForm.updateFailed"}}</span>
      {{/if}}
    </span>
  </h1>
</div>
{{#bs-form as |form|}}
  {{#each _sourceFieldNames as |fieldName|}}
    {{#form.group 
      class=(concat-classes (concat fieldName "Group") (if (get _formFieldsErrors fieldName) "has-error"))}}
      <label for={{concat elementId fieldName}} class="label-column control-label {{if (not (get _formData (concat fieldName "Enabled"))) "disabled"}}">
        {{t (concat "components.spaceCleaningConditionsForm." fieldName)}}
      </label>
      <div class="fields-column">
        {{one-way-input
          value=(get _formData (concat fieldName "Number"))
          disabled=(or (not (get _formData (concat fieldName "Enabled"))) (eq _formStatus "saving"))
          class="form-control input-sm"
          focusOut=(action "lostFocus")
          update=(action "dataChanged" (concat fieldName "Number"))
          onenter=(action "forceSave")
          id=(concat elementId fieldName)}}
        {{#power-select
          triggerClass="small"
          dropdownClass="small"
          disabled=(or (not (get _formData (concat fieldName "Enabled"))) (eq _formStatus "saving"))
          options=(if (eq fieldName "maxFileNotOpenedHours") _timeUnits _sizeUnits)
          selected=(get _formData (concat fieldName "Unit"))
          onchange=(action "dataChanged" (concat fieldName "Unit"))
          searchEnabled=false
          renderInPlace=true
          as |unit|}}
          {{unit.name}}
        {{/power-select}}
      </div>
      <div class="toggle-column">
        {{one-way-toggle
          checked=(get _formData (concat fieldName "Enabled"))
          update=(action "dataChanged" (concat fieldName "Enabled"))
          isReadOnly=(eq _formStatus "saving")}}
      </div>
    {{/form.group}}
  {{/each}}
{{/bs-form}}
