<div class="indicators row content-row no-border no-padding-top">
  <p>
    <span class="indicator-row">
      <span class="total-space indicator">
        <span class="value">{{bytes-to-string data.spaceSize}}</span> 
        {{t "components.spaceCleaningBarChart.totalSpace"}}
      </span>
      <span class="used-space indicator">
        <span class="value">{{bytes-to-string data.spaceUsed}}</span>
        {{t "components.spaceCleaningBarChart.usedSpace"}}
      </span>
    </span>
    <span class="indicator-row">
      <span class="free-space indicator">
        <span class="value">{{bytes-to-string _freeSpace}}</span>
        {{t "components.spaceCleaningBarChart.freeSpace"}}
      </span>
      <span class="to-release indicator">
        <span class="value">{{bytes-to-string _toReleaseSpace}}</span>
        {{t "components.spaceCleaningBarChart.toRelease"}}
      </span>
    </span>
  </p>
</div>
<div class="bar-container">
  {{space-cleaning-bar-chart/inline-editor
    class="soft-quota-editor"
    position=_targetPercent
    value=_target
    allowEdition=(and _allowLabelsEdition (not _disabled))
    onSave=(action "valueChanged" "target")}}
  {{space-cleaning-bar-chart/inline-editor
    class="hard-quota-editor"
    position=_thresholdPercent
    value=_threshold
    allowEdition=_allowLabelsEdition
    onSave=(action "valueChanged" "threshold")}}
  <div class="bar">
    <div class="chart-bar used-below-soft-quota"></div>
    <div class="chart-bar not-used-below-soft-quota not-used"></div>
    <div class="chart-bar used-below-hard-quota"></div>
    <div class="chart-bar not-used-below-hard-quota not-used"></div>
    <div class="chart-bar used-over-hard-quota"></div>
    <div class="chart-bar not-used-over-hard-quota not-used"></div>
    <div class="chart-bar used"></div>
    <div class="pacman-row">
      <div class="used-space"></div>
      <div class="pacman-cell">
        {{#if data.isWorking}}
          <div class="pacman">
            <div class="pacman-shape">
              <div class="pacman-top">
                <div class="pacman-eye"></div>
              </div>
              <div class="pacman-bottom"></div>
            </div>
            <div class="feed"></div>
          </div>
        {{/if}}
      </div>
    </div>
    {{range-slider
      range=_sliderRange
      start=_sliderStartValues
      disabled=_disabled
      step=1
      on-slide=(action "slide")
      on-change=(action "sliderChanged")}}
  </div>
</div>
