<div class="row content-row no-border">
  <h1>
    <label for="cleaning-enabled">
      {{tt this "enableAutoCleaning"}}
    </label>
    {{one-label-tip
      title=(tt this "headerHint")
      placement="top"
    }}
    {{one-way-toggle inputId="cleaning-enabled"
      checked=isCleanEnabled
      class=(if media.isMobile "pull-right right" "toggle-right-side")
      spinnerSide=(if media.isMobile "left" "right")
      update=(action "toggleCleaning")}}
  </h1>
</div>
{{#if isCleanEnabled}}
  <div class="space-cleaning-settings auto-save-settings-row cleaning-settings-row">
    <div class="form-cell cell">
      {{space-cleaning-conditions-form data=conditionsFormData onSave=(action "fileConditionsChanged")}}
    </div>
    <div class="bar-cell cell">
      <div class="row content-row no-border no-padding-top">
        <h1 class="cleaning-boundaries-header">
          <label>{{tt this "cleaningBoundaries"}}</label>
          {{one-label-tip
            title=(tt this "boundariesHint")
            placement="top"
          }}
        </h1>
      </div>
      <div class="row loadable-row content-row no-padding-top no-padding-bottom">
        {{#loading-container
          isLoading=spaceAutoCleaningStatusUpdater.isInitializing
          errorReason=spaceAutoCleaningStatusUpdater.error
          customErrorMessage=(tt this "statusLoadError")
        }}
          <div class="row content-row no-border no-padding-bottom">
            {{space-cleaning-bar-chart
              settings=autoCleaningConfiguration
              spaceSize=spaceSize
              status=status
              onChange=(action "barValuesChanged")
            }}
          </div>
          <div class="row content-row clean-now-row no-border no-padding-top">
            {{#if (or stopButtonClick displayStartButton)}}
              {{#one-spin-button
                action=(action "startCleaning")
                class="btn btn-sm btn-primary btn-clean-now"
                defaultTimout=10000
                disabled=(or disableCleaningButton (not startNowEnabled))
              }}
                {{tt this (if disableCleaningButton "stopedCleaning" "startCleaning")}}
              {{/one-spin-button}}
              {{one-label-tip
                title=(tt this "startCleaningHint")
                class="clean-now-tip hidden-xs"
                placement="top"
                arrowPlacement="left"
              }}
            {{else}}
              {{#one-spin-button
                action=(action "stopCleaning")
                class="btn btn-sm btn-warning btn-stop-now"
                defaultTimout=10000
                disabled=disableCleaningButton
              }}
                {{tt this (if disableCleaningButton "startedCleaning" "stopCleaning")}}
              {{/one-spin-button}}
            {{/if}}
          </div>
        {{/loading-container}}
      </div>
    </div>
  </div>
  <div>
    <div class="row content-row no-border">
      <h1>
        <label>{{t "components.spaceCleaningReports.cleaningReports"}}</label>
        {{one-label-tip
          title=(tt this "reportsHint")
          placement="top"
        }}
      </h1>
    </div>
    <div class="loadable-row">
      {{#loading-container
        isLoading=spaceAutoCleaningReportsUpdater.isInitializing
        errorReason=spaceAutoCleaningReportsUpdater.error
        customErrorMessage=(tt this "reportsLoadError")
      }}
        {{space-cleaning-reports
          spaceId=spaceId
          isCleanEnabled=isCleanEnabled
        }}
      {{/loading-container}}
    </div>
  </div>
{{/if}}
