<div class="row no-border">
  <div class="col-xs-12">
    {{#one-collapsible-list as |list|}}
      {{#list.item closeEventName=(concat elementId "-import-config:close") as |listItem|}}
        {{#listItem.header
          class="hoverable"
        }}
          <div class="item-icon-container">
            {{one-icon class="item-icon" icon="settings"}}
          </div>
          <strong>{{tt this "storageImport.generic.importMode.name"}}:</strong>
          {{tt this (concat "storageImport.generic.importMode.options." space.importMode ".name")}}
        {{/listItem.header}}
        {{#listItem.content}}
          <div class="row content-row row-medium{{if (not importConfigurationOpen) " row-hidden"}}">
            <h1 class="form-title">{{tt this "syncFormHeader"}}</h1>
            {{storage-import-form
              class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered"
              defaultValues=space
              mode="edit"
              isFormOpened=importConfigurationOpen
              submit=(action "modifySpace")
            }}
          </div>
        {{/listItem.content}}
      {{/list.item}}
    {{/one-collapsible-list}}
  </div>
</div>

<div class="row row-time-stats-charts">
  {{#bs-button-group
    class="btn-group-floating btn-group-3-btns"
    value=syncInterval
    type="radio"
    onChange=syncIntervalChanged as |bg|
  }}
    {{#bg.button type="default" class="btn-sm btn-sync-interval-minute" value="minute"}}
      {{tt this "minute"}}
      {{one-tooltip title="Show statistics for last minute" triggerEvents="hover"}}
    {{/bg.button}}
    {{#bg.button type="default" class="btn-sm btn-sync-interval-hour" value="hour"}}
      {{tt this "hour"}}
      {{one-tooltip title="Show statistics for last hour" triggerEvents="hover"}}
    {{/bg.button}}
    {{#bg.button type="default" class="btn-sm btn-sync-interval-day" value="day"}}
      {{tt this "day"}}
      {{one-tooltip title="Show statistics for last day" triggerEvents="hover"}}
    {{/bg.button}}
  {{/bs-button-group}}
  {{#if statsFrozen}}
    <div class="tab-info-floating one-info-label">
      <span>
        <label>{{tt this "syncDone"}}</label>
        {{one-icon icon="checkbox-filled"}}
      </span>
      {{one-tooltip
        title=(tt this "syncDoneHint")
        placement="bottom"
      }}
    </div>
  {{/if}}
  
  {{#loading-container isLoading=timeStatsLoading errorReason=timeStatsError}}
    <div class="col-xs-12 item-table-cell item-table-content-cell">
      {{space-sync-chart-operations
        timeStats=timeStats
        timeUnit=syncInterval
      }}
    </div>
    <div class="col-xs-12 item-table-cell item-table-content-cell">
      {{space-sync-chart-queue
        timeStats=timeStats
        timeUnit=syncInterval
      }}
    </div>
    <div class="col-xs-12 item-table-cell item-table-content-cell">
      {{space-sync-chart-throughput
        timeStats=timeStats
        timeUnit=syncInterval
      }}
    </div>
  {{/loading-container}}
</div>
