{{!-- FIXME: hits text --}}

<div class="row content-row no-border no-padding-top">
  <h1>
    <label>{{t "components.spaceAutoCleaning.cleanReplicatedFiles"}}</label>
    {{one-label-tip
      title=(t "components.spaceAutoCleaning.headerHint")
      placement="top"
    }}
  </h1>
</div>
{{#bs-form as |form|}}
  {{#each _sourceFieldNames as |fieldName|}}
    {{#form.group 
      class=(concat-classes (concat fieldName "Group") (if (get _formFieldsErrors (concat fieldName "Number")) "has-error"))}}
      <label for={{concat elementId fieldName}} class="label-column control-label">
        {{t (concat "components.spaceCleaningConditionsForm." fieldName)}}
      </label>
      <div class="fields-column">
        {{one-way-input
          value=(get _formData (concat fieldName "Number"))
          disabled=(not (get _formData (concat fieldName "Enabled")))
          class="form-control input-sm"
          focusOut=(action "lostFocus")
          update=(action "dataChanged" (concat fieldName "Number"))
          elementId=(concat elementId fieldName)}}
        {{#power-select
          triggerClass="small"
          dropdownClass="small"
          disabled=(not (get _formData (concat fieldName "Enabled")))
          options=(if (eq fieldName "fileTimeNotActive") _timeUnits _sizeUnits)
          selected=(get _formData (concat fieldName "Unit"))
          onchange=(action "dataChanged" (concat fieldName "Unit"))
          searchEnabled=false
          renderInPlace=true
          as |unit|}}
          {{unit.name}}
        {{/power-select}}
      </div>
      <div class="toggle-column">
        {{one-way-toggle
          checked=(get _formData (concat fieldName "Enabled"))
          update=(action "dataChanged" (concat fieldName "Enabled"))}}
      </div>
    {{/form.group}}
  {{/each}}
{{/bs-form}}
