<div class="row">
  <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell space-info">
    <div class="row content-row">
      <strong class="property-label">{{tt this "name"}}:</strong>
      {{name-conflict item=space tagName="span" class="one-label space-name"}}
    </div>
    <div class="row content-row">
      {{clipboard-line
        value=space.id
        size="sm"
        label=(concat (tt this "id") ":")
      }}
    </div>
    <div class="row content-row">
      {{#promise-proxy-container proxy=_storage}}
        <strong class="property-label">{{tt this "storage"}}:</strong>
        <span class="one-label space-provider-storage">
          {{name-conflict item=_storage}}
        </span>
      {{/promise-proxy-container}}
    </div>
    {{#if space.storageImportEnabled}}
      <div class="row content-row storage-import">
        <strong class="property-label">{{tt this "storageImportSection"}}:</strong>
        {{#each importProperties as |property|}}
          <div class="row content-row nested-row">
            <strong class="property-label">{{property.label}}:</strong>
            <span class="one-label storage-import-{{property.name}}">{{property.value}}</span>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
  
  <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell space-support">
    {{#promise-proxy-container proxy=spaceSupportersProxy}}
      {{cluster-spaces-table-item/support-size-info spaceSupporters=spaceSupportersProxy.content}}
    {{/promise-proxy-container}}
    <div class="row content-row">
      {{#promise-proxy-container proxy=spaceSupportersProxy}}
        {{cluster-spaces-table-item/support-size-this 
          providerSupportSize=_thisProviderSupportSize
          spaceOccupancy=_spaceOccupancy
          submitModifySpace=(action "submitModifySpace")
        }}
      {{/promise-proxy-container}}
    </div>
  </div>
  
</div>
