<div class="row content-row no-border">
  <label for="cleaning-enabled"><h1>
    {{t 'components.spaceAutoCleaning.autoCleaning'}}
    {{one-way-toggle inputId="cleaning-enabled"
      checked=_isEnabled
      class="pull-right right"
      spinnerSide="left"
      update=(action "toggleCleaning")}}
  </h1>
  </label>
</div>
{{#if _isEnabled}}
  <div class="row content-row no-border no-padding-top">
    <h1>{{t 'components.spaceAutoCleaning.removeFiles'}}</h1>
  </div>
  {{#loading-container isLoading=_statusInitializing}}
    <div class="cleaning-settings-row">
      <div class="form-cell">
        {{space-cleaning-conditions-form data=conditionsFormData onSave=(action "fileConditionsChanged")}}
      </div>
      <div class="bar-cell">
        {{space-cleaning-bar-chart data=barData onChange=(action "barValuesChanged")}}
      </div>
    </div>
  {{/loading-container}}
  {{#loading-container isLoading=_reportsInitializing}}
    {{space-cleaning-raports data=reports}}
  {{/loading-container}}
{{/if}}
