<div class="row content-row no-border">
  <h1>
    <label for="cleaning-enabled">
      {{t 'components.spaceAutoCleaning.autoCleaning'}}
    </label>
    {{one-way-toggle inputId="cleaning-enabled"
      checked=autoCleaning.enabled
      class="pull-right right"
      spinnerSide="left"
      update=(action "toggleCleaning")}}
  </h1>
</div>
{{#if autoCleaning.enabled}}
  <div class="row content-row no-border no-padding-top">
    <h1>{{t 'components.spaceAutoCleaning.removeFiles'}}</h1>
  </div>
  <div class="cleaning-settings-row">
    <div class="form-cell">
      {{space-cleaning-conditions-form data=conditionsFormData onSave=(action "fileConditionsChanged")}}
    </div>
    <div class="bar-cell">
      {{space-cleaning-bar-chart data=barData onChange=(action "barValuesChanged")}}
    </div>
  </div>
  {{space-cleaning-reports data=data}}
{{/if}}
