<div class="row content-row no-border no-padding-top">
  <h1>
    <label>{{tt this "configurationHeader"}}</label>
    <span class="form-state">
      {{#if (eq formStatus "saving")}}
        <span class="animated infinite semi-hinge pulse-mint">{{t "mixins.components.autoSaveForm.saving"}}</span>
      {{else if (eq formStatus "modified")}}
        {{t "mixins.components.autoSaveForm.modified"}}
      {{else if (eq formStatus "saved")}}
        {{t "mixins.components.autoSaveForm.saved"}}
      {{else if (eq formStatus "failed")}}
        <span class="text-danger">{{t "mixins.components.autoSaveForm.updateFailed"}}</span>
      {{/if}}
    </span>
  </h1>
  <p>
    {{tt this "configurationText"}}
    <a href={{one-doc-url "administering_onedata/file_popularity[the-popularity-function].html"}}>{{tt this "configurationTextDoc"}}</a>.
  </p>
  {{#bs-form class="space-file-popularity-configuration-form" as |form|}}
    {{#each sourceFieldNames as |fieldName|}}
      {{#form.group 
        class=(concat-classes (concat fieldName "Group") (if (get formFieldsErrors fieldName) "has-error"))
      }}
        <label for={{concat elementId fieldName}} class="label-column control-label">
          {{tt this fieldName}}
        </label>
        <div class="fields-column">
          <input type="text"
            value={{get formData fieldName}}
            disabled={{eq formStatus "saving"}}
            class="condition-number-input form-control"
            oninput={{action "dataChanged" fieldName}}
            onkeyup={{action "inputOnKeyUp"}}
            onblur={{action "lostFocus"}}
            disabled={{whileSaving}}
            id={{concat elementId fieldName}}
            class="input-sm"
          >
        </div>
        <div class="hint-column">
          {{one-label-tip
            title=(tt this (concat fieldName "Hint"))
          }}
        </div>
      {{/form.group}}
    {{/each}}
  {{/bs-form}}
</div>
