{{#listItem.header toolbarWhenOpened=true}}
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="provider"}}
    {{one-tooltip
      title=storage.name
      placement="top"
      arrowPlacement="left"
      triggerEvents="hover"
    }}
  </span>
  <span class="one-label">{{storage.name}}</span>
{{/listItem.header}}

{{#listItem.content}}
  <table class="item-table">
    <tr>
      <td class="item-table-content-cell">
        <div class="row content-row">
          <strong>Type:</strong> <span class="one-label">{{storageType}}</span>
        </div>
        <div class="row content-row">
          <strong>{{t (concat "components.clusterStorageAddForm.generic.lumaEnabled")}}:</strong> 
          {{one-way-toggle
            checked=(get storage "lumaEnabled")
            isReadOnly=true
          }}
        </div>
        {{#if (get storage "lumaEnabled")}}
          <div class="row content-row">
            <strong>{{t (concat "components.clusterStorageAddForm.luma.lumaUrl")}}:</strong> 
            <span class="one-label">{{get storage "lumaUrl"}}</span>
          </div>
          <div class="row content-row">
            <strong>{{t (concat "components.clusterStorageAddForm.luma.lumaCacheTimeout")}}:</strong> 
            <span class="one-label">{{get storage "lumaCacheTimeout"}}</span>
          </div>
        {{/if}}
        {{#each storageProperties as |storageProperty|}}
          <div class="row content-row">
            <strong>{{t (concat translationPrefix storageProperty)}}:</strong>
            {{#if (eq (data-type (get storage storageProperty)) "boolean")}}
              {{one-way-toggle
                checked=(get storage storageProperty)
                isReadOnly=true
              }}
            {{else}}
              <span class="one-label">{{get storage storageProperty}}</span>
            {{/if}}
          </div>
        {{/each}}
        {{#if supportedSpaces}}
          <div class="row content-row">
            <strong>{{t 'components.storageItem.generic.supportedSpaces'}}:</strong>
            {{#each supportedSpaces as |space|}}
              <div class="row content-row nested-row">{{space.name}}</div>
            {{/each}}
          </div>
        {{/if}}
      </td>
      <td class="item-table-img-cell"><div class="background-container"></div></td>
    </tr>
  </table>
{{/listItem.content}}
