{{#listItem.header disableToggleIcon=true as |itemHeader|}}
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="provider"}}
    {{one-tooltip
      title=storage.name
      placement="top"
      arrowPlacement="left"
      triggerEvents="hover"
    }}
  </span>
  <span class="one-label storage-name">
    {{storage.name}}
  </span>
  {{actions-toolbar
    isMinimized=true
    toolbarClasses=""
    toolbarToggleClasses="btn-menu-toggle"
    dropdownPlacement="auto"
    actionsArray=storageActions}}
{{/listItem.header}}

{{#listItem.content}}
  <div class="item-table row">
    <div class="row">
      <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell row storage-info">
        <div class="row content-row">
          {{clipboard-line
            value=storageId
            size="sm"
            class=(if whileEdition "id-edition-label")
            label=(concat (tt this "generic.id") ":")
          }}
        </div>
        {{cluster-storage-add-form
          class="clearfix"
          submit=(action "saveEdition")
          cancel=(action "cancelEdition")
          mode=(if whileEdition "edit" "show")
          isFormOpened=true
          storage=storage
          storageHasSupport=(contains storage.id (map-by "storageId" spaces))
          layoutConfig=formLayoutConfig}}
      </div>
      {{!-- TODO: maybe a placeholder when not loaded --}}
      {{#if showSpacesSupport}}
        <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell row">
          {{storage-item/supported-spaces spaces=spaces storageId=storageId}}
        </div>
      {{/if}}
    </div>
  </div>
{{/listItem.content}}
