{{#listItem.header toolbarWhenOpened=true}}
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="provider"}}
    {{one-tooltip
      title=storage.name
      placement="top"
      arrowPlacement="left"
      triggerEvents="hover"
    }}
  </span>
  <span class="one-label storage-name">
    {{storage.name}}
  </span>
{{/listItem.header}}

{{#listItem.content}}
  <div class="item-table row">
    <div class="row">
      <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell row storage-info">
        <div class="row content-row">
          <strong>Type:</strong> <span class="one-label">{{storageType}}</span>
        </div>
        <div class="row content-row">
          <strong>{{t (concat "components.clusterStorageAddForm.generic.lumaEnabled.name")}}:</strong> 
          {{one-way-toggle
            checked=(get storage "lumaEnabled")
            isReadOnly=true
          }}
        </div>
        {{#if (get storage "lumaEnabled")}}
          {{#each lumaProperties as |lumaProperty|}}
            {{#unless (eq (get storage lumaProperty) undefined)}}
              <div class="row content-row">
                <strong>{{t (concat (concat "components.clusterStorageAddForm.luma." lumaProperty) ".name")}}:</strong> 
                <span class="one-label">{{get storage lumaProperty}}</span>
              </div>
            {{/unless}}
          {{/each}}
        {{/if}}
        {{#if (get storage "storagePathType")}}
          <div class="row content-row">
            <strong>{{t (concat "components.clusterStorageAddForm.generic.storagePathType.name")}}:</strong> 
            <span class="one-label">{{get storage "storagePathType"}}</span>
          </div>
        {{/if}}
        {{#each storageProperties as |storageProperty|}}
          <div class="row content-row">
            <strong>{{t (concat (concat translationPrefix storageProperty) ".name")}}:</strong>
            {{#if (eq (data-type (get storage storageProperty)) "boolean")}}
              {{one-way-toggle
                checked=(get storage storageProperty)
                isReadOnly=true
              }}
            {{else}}
              <span class="one-label">{{get storage storageProperty}}</span>
            {{/if}}
          </div>
        {{/each}}
      </div>
      {{!-- TODO: maybe a placeholder when not loaded --}}
      {{#if showSpacesSupport}}
        <div class="col-xs-12 col-md-6 item-table-cell item-table-content-cell row">
          {{storage-item/supported-spaces spaces=spaces storageId=storage.id}}
        </div>
      {{/if}}
    </div>
  </div>
{{/listItem.content}}
