{{#listItem.header toolbarWhenOpened=true}}
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="provider"}}
    {{one-tooltip
      title=storage.name
      placement="top"
      arrowPlacement="left"
      triggerEvents="hover"
    }}
  </span>
  <span class="one-label">{{storage.name}}</span>
{{/listItem.header}}

{{#listItem.content}}
  <table class="item-table">
    <tr>
      <td class="item-table-content-cell">
        <div class="row content-row">
          <strong>Type:</strong> <span class="one-label">{{storageType}}</span>
        </div>
        {{#each storageProperties as |storageProperty|}}
          <div class="row content-row">
            <strong>{{t (concat translationPrefix storageProperty)}}:</strong>
            {{#if (eq (data-type (get storage storageProperty)) "boolean")}}
              {{one-way-toggle
                checked=(get storage storageProperty)
                isReadOnly=true
              }}
            {{else}}
              <span class="one-label">{{get storage storageProperty}}</span>
            {{/if}}
          </div>
        {{/each}}
      </td>
      <td class="item-table-img-cell"><div class="background-container"></div></td>
    </tr>
  </table>
{{/listItem.content}}
