{{#bs-form submitOnEnter=false class=_formClasses as |form|}}
  {{#form.group}}
    <label class={{concat "control-label " layoutConfig.formLabelColumns}}>
      {{tt this "storage"}}:
    </label>
    <div class={{layoutConfig.formInputColumns}}>
      {{#power-select
        loadingMessage=(tt this "storageSelectLoading")
        options=allStoragesItemsProxy
        selected=selectedStorageItem
        onchange=(action "storageChanged")
        searchEnabled=false
        renderInPlace=true
        placeholder=(tt this "storageSelectPlaceholder")
        as |storageItem|
      }}
        {{name-conflict item=storageItem.storage}}
        {{#if storageItem.isImportedAndUsed}}
          <small class="imported-used-storage">{{tt this "storageImportedAndUsed"}}</small>
        {{else if storageItem.storage.importedStorage}}
          <small class="imported-storage">{{tt this "storageImported"}}</small>
        {{/if}}
      {{/power-select}}
    </div>
  {{/form.group}}

  {{one-form-fields
    bsForm=form
    fields=currentFields
    formValues=formValues
    inputChanged=(action "inputChanged")
    onFocusOut=(action "focusOut")
  }}

  {{storage-import-form
    class=(concat-classes
      "col-xs-12 collapse-animation collapse-small"
      (unless importEnabled "collapse-hidden")
    )
    mode="new"
    isFormOpened=importEnabled
    valuesChanged=(action "importFormChanged")
    showSubmitButton=false
  }}

  <div class="row">
    <div class={{layoutConfig.formSubmitColumns}}>
      {{#one-button
        type="primary"
        buttonType="submit"
        onClick=(action "submit")
        disabled=(not canSubmit)
      }}
        {{tt this "submitButton"}}
      {{/one-button}}
    </div>
  </div>
{{/bs-form}}
