{{!-- TODO i18n --}}

{{#bs-form submitOnEnter=false class=_formClasses as |form|}}
  {{#form.group}}
    <label class={{concat "control-label " layoutConfig.formLabelColumns}}>
      Storage:
    </label>
    <div class={{layoutConfig.formInputColumns}}>
      {{#power-select
        loadingMessage="Loading..."
        options=allStoragesProxy
        selected=_selectedStorage
        onchange=(action "storageChanged")
        searchEnabled=false
        renderInPlace=true
        placeholder="Select a storage..."
        as |storage|
      }}
        {{storage.name}}
      {{/power-select}}
    </div>
  {{/form.group}}

  {{one-form-fields
    bsForm=form
    fields=currentFields
    formValues=formValues
    inputChanged=(action "inputChanged")
    onFocusOut=(action "focusOut")
  }}
  
  {{storage-import-update-form class=(concat "col-xs-12 collapse-animation collapse-small" (if _importEnabled "" " collapse-hidden"))
    mode="new"
    isFormOpened=_importEnabled
    valuesChanged=(action "importFormChanged")
    showSubmitButton=false
  }}

  <div class="row">
    <div class={{layoutConfig.formSubmitColumns}}>
      {{#spin-button
        type="submit"
        class="btn btn-primary"
        action=(action "submit")
        disabled=(not canSubmit)
      }}
        Support space
      {{/spin-button}}
    </div>
  </div>
{{/bs-form}}
