{{!-- TODO i18n --}}

{{#if isCollectionEmpty}}

  {{empty-collection-sidebar resourceType=resourceType}}

{{else}}

  {{#one-list-wrapper items=model.collection as |item|}}
    {{#one-list-primary-item item=item
      changePrimaryItemId="changePrimaryItemId"
      isActive=(eq primaryItemId item.id)
      as |primarySection|}}
      {{#if (eq primarySection 'header')}}
        {{#if resourceIcon}}
          {{one-icon icon=resourceIcon}}
        {{/if}}
        {{item.name}}
      {{else if (eq primarySection 'secondary')}}
        {{!-- TODO resource type specific --}}
        {{!-- TODO isActive secondary --}}
        <ul class="one-list one-list-level-2">
          {{#each secondLevelItems as |sli|}}
            <li class={{concat "one-list-item clickable " (if (eq secondaryItemId sli.id) "active" "")}}>
              {{!-- TODO only for clusters --}}
              {{#link-to
                "onedata.sidebar.content.aspect"
                "clusters"
                "the-cluster"
                sli.id
                tagName="div"
                class="item-header"
              }}
                {{sli.label}}
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/one-list-primary-item}}
  {{/one-list-wrapper}}

{{/if}}


