{{#if isStandaloneOnepanel}}
  {{#if mobileMode}}
    {{#one-collapsible-list as |list|}}
      {{#list.item
        class="user-account-button"
        isCollapsible=false
        click=(action "logout")
        closeEventName="side-menu:close"
        as |listItem|
      }}
        {{#listItem.header class=(concat menuItemClasses (if isActive " active" ""))}}
          {{one-icon
            class="logout-icon item-icon"
            icon="logout"
          }}
          <span class="one-label user-account-button-logout">
            {{tt this "logout"}}
          </span>
        {{/listItem.header}}
      {{/list.item}}
    {{/one-collapsible-list}}
  {{else}}
    <div class={{menuItemClasses}} {{action "logout"}}>
      <div class="item-header truncate">
        {{one-icon
          class="logout-icon item-icon"
          icon="logout"
        }}
        <span class="one-label user-account-button-logout">
          {{tt this "logout"}}
        </span>
      </div>
    </div>
  {{/if}}
{{else}}
  {{partial "components/-user-account-button-common"}}
{{/if}}

