{{#if isEmergencyOnepanel}}
  {{#if mobileMode}}
    <OneCollapsibleList as |list|>
      <list.item
        class="user-account-button"
        @isCollapsible={{false}}
        @click={{action "logout"}}
        @closeEventName="side-menu:close"
        as |listItem|
      >
        <listItem.header class={{concat menuItemClasses (if isActive " active" "")}}>
          <OneIcon class="logout-icon item-icon" @icon="logout" />
          <span class="one-label user-account-button-logout">
            {{tt this "logout"}}
          </span>
        </listItem.header>
      </list.item>
    </OneCollapsibleList>
  {{else}}
    <div class={{menuItemClasses}} {{action "logout"}}>
      <div class="item-header truncate">
        <OneIcon class="logout-icon item-icon" @icon="logout" />
        <span class="one-label user-account-button-logout">
          {{tt this "logout"}}
        </span>
      </div>
    </div>
  {{/if}}
{{else}}
  <UserAccountButtonBase
    @isActive={{isActive}}
    @mobileMode={{mobileMode}}
    @username={{username}}
    @onItemClick={{onItemClick}}
    @onMenuOpened={{onMenuOpened}}
  />
{{/if}}

