{{#promise-proxy-container proxy=savedMessageProxy}}
  {{#if (and isEnabled (not body))}}
    <div class="alert alert-warning">{{tt this "emptyContentWarning"}}</div>
  {{/if}}
  <p class="subheader-text">{{tt this "description"}}</p>
  <p class="clearfix">
    <label for="cookie-consent-notification-enabled" class="align-left">{{tt this "cookieConsentNotificationEnabled"}}:</label>
    {{one-way-toggle
      inputId="cookie-consent-notification-enabled"
      checked=isEnabled
      update=(action "isEnabledChanged")}}
    <button
      class="btn btn-sm btn-default pull-right insert-privacy-policy-link"
      disabled={{or isSaving (not isEnabled)}}
      {{action "insertPrivacyPolicyLink"}}
    >
      {{one-icon icon="text-link"}}
      {{tt this "insertPrivacyPolicyLink"}}
    </button>
    <button
      class="btn btn-sm btn-default pull-right insert-terms-of-use-link"
      disabled={{or isSaving (not isEnabled)}}
      {{action "insertTermsOfUseLink"}}
    >
      {{one-icon icon="text-link"}}
      {{tt this "insertTermsOfUseLink"}}
    </button>
  </p>
  <p>
    <textarea
      rows="4"
      value={{body}}
      oninput={{action "bodyChanged" value="target.value"}}
      disabled={{or isSaving (not isEnabled)}}
      class="form-control cookie-consent-notification-input no-resize"></textarea>
  </p>
  <p class="clearfix">
    {{#one-button
      type="primary"
      buttonType="submit"
      class="btn-save pull-right"
      onClick=(action "save")
      disabled=(not isModified)
    }}
      {{tt this "save"}}
    {{/one-button}}
  </p>
{{/promise-proxy-container}}
{{yield}}
