{{#promise-proxy-container proxy=savedMessageProxy}}
  {{#if (and isEnabled (not body))}}
    <div class="alert alert-warning">{{tt this "emptyContentWarning"}}</div>
  {{/if}}
  <p class="subheader-text">{{tt this "description"}}</p>
  <p>
    <label for="signin-notification-enabled" class="align-left">{{tt this "signinNotificationEnabled"}}:</label>
    {{one-way-toggle
      inputId="signin-notification-enabled"
      checked=isEnabled
      update=(action "isEnabledChanged")}}
  </p>
  <p>
    <textarea
      rows="4"
      value={{body}}
      oninput={{action "bodyChanged" value="target.value"}}
      disabled={{or isSaving (not isEnabled)}}
      class="form-control sign-in-notification-input no-resize"></textarea>
  </p>
  <p class="clearfix">
    {{#one-spin-button
      class=(concat "btn btn-primary btn-save pull-right")
      action=(action "save")
      disabled=(not isModified)}}
      {{tt this "save"}}
    {{/one-spin-button}}
  </p>
{{/promise-proxy-container}}
{{yield}}
