{{#promise-proxy-container proxy=savedMessageProxy}}
  {{#if (and isEnabled isGuiMessageBodyEmpty)}}
    <div class="alert alert-warning">{{tt this "emptyContentWarning"}}</div>
  {{/if}}
  <p class="subheader-text">{{tt this "description"}}</p>
  <p>
    <label for="terms-of-use-enabled" class="align-left">{{tt this "termsOfUseEnabled"}}:</label>
    {{one-way-toggle
      inputId="terms-of-use-enabled"
      checked=isEnabled
      update=(action "isEnabledChanged")}}
  </p>
  {{wysiwyg-editor
    mode="edit"
    content=body
    disabled=(or isSaving (not isEnabled))
    onChange=(action "bodyChanged")}}
  <p class="clearfix">
    {{#one-button
      type="primary"
      buttonType="submit"
      class="btn-save pull-right"
      onClick=(action "save")
      disabled=(not isModified)
    }}
      {{tt this "save"}}
    {{/one-button}}
  </p>
{{/promise-proxy-container}}
{{yield}}
