{{#if _inEditionMode}}
  <input
    type="text"
    class="form-control input-sm"
    value={{_editorValue}}
    oninput={{action (mut _editorValue) value="target.value"}}
    onkeydown={{invoke-on-key (hash
      Enter=(action "saveEdition")
      Escape=(action "cancelEdition")
    )}}
  />
  <span class="one-label">{{_readableValue.unit}}</span>
  <span class="action-icons {{if (gt position 80) "actions-left"}}">
    {{one-icon icon="checked" click=(action "saveEdition")}}
    {{one-icon icon="ban-left" click=(action "cancelEdition")}}
  </span>
{{else}}
  <span class="one-label" {{action "startEdition" on="doubleClick"}}>
    {{_readableValue.number}} {{_readableValue.unit}}
  </span>
  {{#if allowEdition}}
    <span class="action-icons {{if (gt position 80) "actions-left"}}">
      {{one-icon icon="browser-rename" click=(action "startEdition")}}
    </span>
  {{/if}}
{{/if}}
